html
	font-size: 10px
	height: 100%
body
	+css-lock(16,20,1024,1600)
	line-height: 1.4
	+f_reg
	min-height: 100%
	display: flex
	flex-direction: column

.wrapper
	flex: 1
	background-color: #fff
	position: relative
	&.menu-open
		z-index: 999999999



.f-black
	+f_black
.color-main-8
	color: $color-main-8


/*sections*/

.content-wrapper
	padding-top: 70px
	+rIn(768,1023)
		padding-top: 50px
	+r(767)
		padding-top: 35px

.post-title
	/**/
.post-inner
	& > .section:first-child
		padding-top: 0

.darken_link-wrapper a
	+f_semi
	color: $color-main-8
	border-bottom: 1px solid currentColor
	text-decoration: none
	+tr(color .25s)
	&.link-wave
		&:hover
			color: $color-main
			text-decoration: none
			background-image: url("data:image/svg+xmlcharset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .25s linear infinite}@keyframes shift {from {transform:translateX(0)}to {transform:translateX(-20px)}}%3C/style%3E%3Cpath fill='none' stroke='%230690ff' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E")
			background-position: bottom
			background-repeat: repeat-x
			background-size: 20%
			border-bottom: 0
			padding-bottom: .3em
			text-decoration: none
	&:not(.link-wave)
		&:hover
			color: $color-main


.section,
.article
	padding: 70px 0
	background-color: #ffffff
	+clr
	+rIn(768,1023)
		padding: 50px 0
	+r(767)
		padding: 35px 0
		overflow: hidden
	&.-bg-gray
		background-color: #f6f6f6
	&.-bg-color-3
		background-color: #d1e0fb
		.title::after
			background-color: rgba(255,255,255,.75)
	a:not(.share-btn):not(.quick-link):not(.example-pseudo-list-link):not(.vpn-prev):not(.box-link):not(.btn-default),
	.pseudo_link
		+f_semi
		color: $color-main-8
		border-bottom: 1px solid currentColor
		text-decoration: none
		+tr(color .25s)
		&.link-wave
			&:hover
				color: $color-main
				text-decoration: none
				background-image: url("data:image/svg+xmlcharset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .25s linear infinite}@keyframes shift {from {transform:translateX(0)}to {transform:translateX(-20px)}}%3C/style%3E%3Cpath fill='none' stroke='%230690ff' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E")
				background-position: bottom
				background-repeat: repeat-x
				background-size: 20%
				border-bottom: 0
				padding-bottom: .3em
				text-decoration: none
		&:not(.link-wave)
			&:hover
				color: $color-main
	p:not(.review__text)
		+css-lock(17,20,768,1280)
		margin-bottom: 22px
		&.bigger
			+css-lock(20,24,768,1280)
			+r(767)
				font-size: 18px
	.small-p-bottom p:not(.review__text),
	.small-p-bottom li:not(.review__text)
		margin-bottom: 11px
	ol
		+counter(simple, ".")
		margin-bottom: 30px
		li
			position: relative
			padding-left: 40px
			&::before
				display: inline-block
				position: absolute
				top: 2px
				left: 0
				+f_bold

.article
	& > .container
		border-bottom: 1px dashed #d5e2fb
		padding-bottom: 35px
	&:last-of-type
		& > .container
			border-bottom: none
	p:last-child
		margin-bottom: 0
	.view-article
		display: none !important
.wrapper
	.article
		padding: 35px 0 0

.content-img
	&.alignleft
		float: left
		margin: 4px 25px 30px 0
		display: inline-block
		padding: 0
	&.aligncenter
		display: block
		margin: 0 auto
		+css-lock(30,55,980,1440, margin-bottom)
	&.shadow
		// box-shadow: 0 0 60px 0px rgba(#000000, .2)
		box-shadow: 11.89px 10.706px 76px 0px rgba( 0, 0, 0 ,.13)
	&.border-radius
		border-radius: 18px

.alignright
	float: right
	margin: .3em 0 2em 2em
	&:first-child
		margin-top: 1.2em


/*comments & pagination*/
.comments
	+css-lock(30,45,768,1280, margin-bottom)
	display: flex
	flex-flow: row wrap
	& > h2
		+css-lock(24,28,960,1280)
		+vm
		+css-lock(20,25,768,1280, margin-bottom)
		flex: 1 1 100%
		order: 1
		max-width: 100%
	& > ul
		order: 2
	&-respond
		order: 0
	.akismet_comment_form_privacy_notice
		flex: 1 1 100%
		order: 100
		max-width: 100%
	&__topicstarter-title
		+css-lock(22,28,768,1280)
		+f_light
	&__topicstarter-img
		float: left
		margin: 0 30px 30px 0
	&__topicstarter-name
		+css-lock(20,24,768,1280)
	&__body
		padding: 70px 0 30px
		+r(1023)
			padding: 40px 0 20px

		&-title
			+f_light
			+css-lock(24,28,768,1280)
			+vm
		&-title-on
			+f_reg
			+css-lock(17,20,768,1280)
			+vm
			color: rgba($color-text, .5)
		.icon
			+vm
			margin-left: 10px
			margin-right: 10px
.comment
	&__list
		margin-top: 40px
		width: 100%
	&-author
		width: 120px
		height: 120px
		flex: 1 1 120px
		+r(767)
			width: 40px
			height: 40px
			flex: 1 1 40px
			max-width: 40px
	&__item,
	&-body
		margin-bottom: 35px
		display: flex
		flex-flow: row wrap
		align-items: flex-start
		justify-content: space-between
		+clr
		+r(767)
			margin-bottom: 20px
		& > .comment__list
			padding-left: 80px
			+r(767)
				padding-left: 20px
		&-img
			width: 120px
			height: 120px
			flex: 1 1 120px
			+r(767)
				width: 40px
				height: 40px
				flex: 1 1 40px
				max-width: 40px
		&-body
			margin-left: 40px
			flex: 1 1 calc(100% - 160px)
			max-width: calc(100% - 160px)
			width: 100%
			background-color: #ffffff
			border: 1px solid #e8e8e8
			padding: 15px 30px
			position: relative
			z-index: 1
			+r(767)
				flex: 1 1 calc(100% - 60px)
				max-width: calc(100% - 60px)
				margin-left: 20px
				padding: 10px 15px
			&::before
				content: ''
				+arr(21,16, #e8e8e8, l)
				position: absolute
				left: -20px
				top: 29px
				z-index: -1
				+r(767)
					content: none
		&-head
			display: flex
			flex-flow: row wrap
			align-items: center
			justify-content: space-between
			position: static
			&::before
				content: ''
				+arr(20,14, #fff, l)
				position: absolute
				left: -19px
				top: 30px
				z-index: 3
				+r(767)
					content: none
		&-text
			margin-top: 10px
			margin-bottom: 10px
			+css-lock(17,20,768,1280)
	&__item-head-name
		+f_bold
		+css-lock(17,20,768,1280)
		text-transform: uppercase
	&__item-head-date
		+css-lock(17,20,768,1280)
		color: rgba($color-text, .5)
		font-style: italic

	&__item-reply
		float: right
		clear: both
		display: inline-block
		+f_semi
		color: $color-main-8
		text-transform: uppercase
		.icon
			display: inline-block
			width: 11px
			height: 15px
			margin: 0
		.icon-arrow-down
			background-image: url('../img/icon__down-arrow.svg')
			background-size: contain
			background-repeat: no-repeat


.prev-next-post
	display: block
	width: 100%
	&__title
		+css-lock(17,20,768,1280)
		color: rgba(#282828, .5)
		text-transform: uppercase
		margin-bottom: 25px
	&__link
		position: relative
		.icon
			position: absolute
			top: 3px
	.post-prev
		text-align: left
		.prev-next-post__link
			+css-lock(30,50,768,1280, padding-left)
			.icon
				left: 0
	.post-next
		text-align: right
		.prev-next-post__link
			+css-lock(30,50,768,1280, padding-right)
			.icon
				right: 0


/*form*/
.form
	&__title
		+css-lock(22,28,768,1280)
		+f_light
		margin-bottom: 30px
	&-group
		margin-bottom: 30px
	&-control
		border: 1px solid #d1e0fb
		+css-lock(17,20,768,1280)
		min-height: 50px
	textarea
		resize: none
	.btn-default
		margin-bottom: 30px

[id="comments-evolved-tabs-label"]
	+css-lock(22,28,768,1280)
	+f_light
	margin-bottom: 30px
[id="reply-title"]
	+css-lock(22,28,768,1280)
	+f_light
	margin-bottom: 30px

.comment-form
	display: flex
	flex-flow: row wrap
	input[type=email],
	input[type=tel],
	input[type=text],
	textarea
		min-height: 50px
		border: 1px solid #d1e0fb
		flex: 1 1 calc(100% - 20px)
		max-width: calc(100% - 20px)
		padding: 10px
		+r(767)
			flex: 1 1 100%
			max-width: 100%
.comment-form-email
	+rmin(1024)
		padding-left: 10px
.comment-form-url
	+rmin(1024)
		padding-left: 20px

.comment-respond
	display: block
	width: 100%

.comment-respond
	margin-bottom: 35px
	padding-top: 25px

.comment-form-author,
.comment-form-email,
.comment-form-url
	flex: 1 1 33.3333%
	max-width: 33.3333%
	display: flex
	flex-flow: row wrap
	+r(767)
		flex: 1 1 100%
		max-width: 100%
	label,
	[name="comment"]
		flex: 1 1 100%
		max-width: 100%
		font-size: 16px



.comment-form-comment
	flex: 1 1 100%
	max-width: 100%
	display: flex
	flex-flow: row wrap
	label,
	[name="comment"]
		flex: 1 1 100%
		max-width: 100%
		font-size: 16px
	textarea
		resize: vertical
		height: 100px
		border: 1px solid #d1e0fb

/*btns*/
.btn-default,
.comment-respond .form-submit
	color: #ffffff
	background-color: $color-main-8
	transition: background-color .45s, color .45s
	border-radius: 36px
	border: none
	+css-lock(17,20,768,1280)
	+css-lock(50,60,768,1280, height)
	+css-lock(50,60,768,1280, line-height)
	max-width: 100%
	text-align: center
	display: block
	width: 100%
	margin: auto
	position: relative
	overflow: hidden
	z-index: 1
	&::after,
	&::before
		content: ''
		position: absolute
		height: 100%
		width: 100%
		bottom: 100%
		left: 0
		z-index: -1
		transition: transform .3s cubic-bezier(0.75, 0, 0.125, 1)
	&::before
		background-color: lighten($color-main-8, 10%)
	&::after
		background-color: $color-main
	&:hover
		color: #ffffff
		text-decoration: none
		&::after,
		&::before
			transform: translate3d(0, 100% , 0)
		&::after
			transition-delay: 0.175s
	&:focus
		outline: none
	&.btn-small
		max-width: 265px
	&.-empty
		background-color: #ffffff
		color: $color-main-8
		border: 1px solid $color-main-8
		&::after
			background-color: $color-main-8
		&:hover
			color: #ffffff
	&.-icons
		.icon-button-arrow
			+vm
			margin-left: 5px

.comment-respond .form-submit
	max-width: 250px
	margin-left: 0
	[type="submit"]
		background-color: transparent
		color: white
		max-width: 100%

/*pagination*/
.pagination
	display: block
	width: 100%
	text-align: center
	margin-top: 30px
	margin-bottom: 40px
	+rmin(768)
		margin-bottom: 90px
	.pagination__item,
	.page-numbers
		+f_semi
		color: #939393
		text-decoration: none
		position: relative
		+vm
		+tr(color .3s)
		& + .pagination__item,
		& + .page-numbers
			+css-lock(30,50,768,1366,margin-left)
		&::after
			content: ''
			+css-lock(15,25,768,1366,width)
			height: 2px
			position: absolute
			bottom: -8px
			left: 50%
			transform: translateX(-50%)
			background-color: currentColor
		&.pagination__current,
		&.current
			color: $color-main-8
		&:not(.pagination__current):hover,
		&:not(.current):hover
			color: $color-main


.article + .pagination
	margin-top: 15px


/*reviews*/
.review
	display: block
	width: 100%
	border: 2px solid #45a147
	border-radius: 15px
	// box-shadow: 0 0 60px -5px rgba(0,0,0,.2)
	box-shadow: 11.89px 10.706px 76px 0px rgba( 0, 0, 0 ,.13)
	margin-bottom: 40px
	&__header
		padding: 15px 25px
		color: #ffffff
		text-align: center
		background-color: #45a147
		border-top-left-radius: 12px
		border-top-right-radius: 12px
		+f_semi
		line-height: 1.4
		+css-lock(24,30,768,1280)
		+r(767)
			+fs(19)
	&__list
		list-style: none
		padding: 0
		margin: 0
		display: block
		width: 100%
		&-item
			display: block
			width: 100%
			padding: 10px 30px
			border-bottom: 1px solid #e8e8e8
			+r(767)
				padding: 10px
			&:nth-child(even)
				background-color: #f4f8fc
		&-item-text
			display: block
			margin-bottom: 10px
			width: 100%
			+f_light
			+css-lock(19,24,768,1280)
			+r(767)
				+fs(17)
			img
				width: 30px
				+vm
				margin-right: 10px
	&__line
		display: block
		width: 100%
		height: 20px
		border-radius: 15px
		background-color: #d1e0fb
		position: relative
	&__fill
		display: block
		height: 100%
		position: absolute
		left: 0
		top: 0
		border-radius: 15px
		background-color: #007bb6

	&__body
		padding: 30px 35px
		+r(767)
			padding: 15px
	&__body-title
		display: flex
		flex-flow: row wrap
		justify-content: space-between
		align-items: center
		margin-bottom: 14px
	&__subtitle
		+css-lock(19,24,768,1280)
		+f_semi
	&__total
		+css-lock(22,30,768,1280)
		+f_black
		color: #45a147
	&__text
		+f_light
		+css-lock(19,24,768,1280)
		display: block
		margin-bottom: 25px
		line-height: 1.3
		&.padding-right-review
			+rmin(1024)
				max-width: 80%




/*main page sections*/
.section-main-1
	padding-top: 15px
	+r(1023)
		padding: 50px 0
	+r(767)
		padding: 35px 0
	.text-inner
		position: relative
		padding-left: 50px
		&::before
			content: ''
			position: absolute
			top: .7em
			left: 0
			width: 30px
			height: 4px
			border-radius: 5px
			background-color: $color-main-8
		p
			color: $color-text
			+f_light
			margin-bottom: .6em
			+fs(18)
			+rmin(1024)
				+css-lock(24,26,1024,1280)


.section-main-2
	background-color: #d1e0fb
	padding: 70px 0 130px
	+r(1023)
		padding: 50px 0
	+r(767)
		padding: 35px 0
	.title::after
		background-color: rgba(#ffffff, .75)
	.row:not(:last-child)
		border-bottom: 1px solid rgba(#ffffff, .3)
	.col
		display: flex
		flex-flow: row wrap
		align-items: flex-start
		padding-top: 15px
		padding-bottom: 15px
		img
			flex: 1 1 40px
			max-width: 40px
			object-fit: contain
			padding-top: 8px
		.text
			flex: 1 1 calc(100% - 40px)
			max-width: calc(100% - 40px)
			padding-left: 15px
			+f_reg
			+fs(20)

.section-main-3
	z-index: 3
	position: relative
	& > .container
		position: relative
	.text-3
		max-width: calc(100% - 460px)
		display: block
		padding: 70px 0
		+css-lock(22,28,768,1280)
		line-height: 1.6
		position: relative
		padding-left: 50px
		+r(1023)
			max-width: 100%
			padding: 50px 0
		+r(767)
			padding: 35px 0
		+rmin(768)
			&::before
				content: ''
				position: absolute
				top: calc(70px + .7em)
				left: 0
				width: 30px
				height: 4px
				border-radius: 5px
				background-color: $color-main-8
	.pult
		width: 400px
		position: absolute
		top: 50%
		right: 0
		transform: translateY(-50%)
		+r(1023)
			display: none

.section-main-4
	background-color: #f6f6f6
	background-repeat: no-repeat
	+rmin(1024)
		// background-position: 0 0
		// background-size: 380px 100%
		// background-image: url('../img/bg__main-sec4.jpg')
		display: flex
		& > .container
			margin-right: auto
			margin-left: 75px
			max-width: 920px
		&__bg
			img
				height: 100%
				object-fit: cover
	+r(1023)
		padding: 50px 0
		background-image: url('../img/bg__main-sec4-mobile.jpg')
		background-size: cover
		background-position-x: center
		background-color: transparent
		&__bg
			display: none
	+r(767)
		padding: 35px 0
	& > .container
		+rmin(1024)
			padding: 160px 15px 70px 0px
	.title
		+rmin(1024)
			text-align: left
			&::after
				left: 0
	p
		+css-lock(18,20,768,1280)
		margin-bottom: 1.5em
		display: inline-block

.section-main-5
	padding: 70px 0
	+r(1023)
		padding: 50px 0
	+r(767)
		padding: 35px 0
	a:not(.btn-default)
		text-decoration: none
		color: $color-main-8
		display: inline
		border-bottom: 1px solid currentColor
		&:hover
			color: $color-main

	.section-5-title
		+css-lock(20,24,768,1028)
		display: block
		text-align: center
		line-height: 1.4
		margin: 0
		+f_semi
	.section-5-subtitle
		+css-lock(20,24,768,1028)
		display: block
		text-align: center
		line-height: 1.4
		margin: 0
		margin-bottom: 53px
	.col:not(.box-wrapper)
		+r(1023)
			order: -1
			margin-bottom: 30px
			padding-left: 15px
	.box
		padding-top: 30px
		+r(767)
			padding: 15px
	.box-inner
		+css-lock(22,25,1024,1280)
		display: block
		padding: 15px 30px
		border: 1px dotted  #d3e1fb
		border-radius: 18px
		margin-bottom: 20px
		+r(767)
			+fs(18)
	.btn-default
		margin-top: 20px
		max-width: 300px
		text-decoration: none
	.col:last-child
		padding-left: 40px
		.subtitle
			+rmin(1024)
				text-align: left
				margin-bottom: .8em
	p.bigger
		+css-lock(20,24,768,1280)
		margin-bottom: .5em
	li
		+css-lock(17,20,768,1280)
		margin-bottom: 0.6em

.section-main-6
	.col
		+css-lock(17,20,768,1280)
		+r(768)
			&:not(:last-child)
				margin-bottom: 20px

.section-main-7
	.example-list
		ul::after
			content: none
		li
			margin-bottom: 17px
			+r(767)
				margin-bottom: 5px
		a
			text-decoration: none
	.box
		text-align: center
		margin-bottom: 0
	.box-title
		display: block
		+css-lock(24,30,768,1280)
		+f_light
		margin-bottom: .7em
	.box-text
		+css-lock(20,24,768,1280)
		+f_light
		margin-bottom: .7em
		line-height: 1.5
	.box-link
		display: block
		margin-bottom: 13px
		color: $color-main-8
		span
			display: inline
			color: currentColor
			border-bottom: 1px solid currentColor
			text-decoration: none
			+tr(color .25s)
			+f_semi
			+css-lock(17,20,768,1280)
		&:hover
			text-decoration: none
			color: $color-main
			span
				border-bottom-color: currentColor

.page-main-footer
	display: flex
	flex-flow: row wrap
	justify-content: center
	align-items: center
	+css-lock(60,150,768,1280,min-height)
	background-color: #282828
	+r(767)
		padding-top: 15px
		padding-bottom: 45px
	a
		text-decoration: none
		color: #ffffff
		display: inline
		border-bottom: 1px solid rgba(255,255,255,.75)
		+css-lock(17,20,768,1280)
		&:hover
			border-bottom-color: transparent



// sharing style widget
.shareaholic-canvas
	width: 100%
	display: block
	padding-left: 15px
	padding-right: 15px
	margin: -35px auto
	+rIn(576,767)
		max-width: 540px
	+rIn(767,991)
		max-width: 720px
		margin-top: -50px
	+rIn(992,1199)
		max-width: 960px
		margin-top: -50px
	+rmin(1200)
		max-width: 1140px
		margin-top: -70px


img.aligncenter
	display: block
	margin: 1.8em auto
	clear: both

.divider-after-content
	display: block
	width: 100%
	padding-bottom: 70px
	+clr
	+rIn(768,1023)
		padding-bottom: 50px
	+r(767)
		padding-bottom: 35px

.comments__topicstarter-img
	a
		text-decoration: none
		display: block
		+css-lock(120,165,768,1280, width)
		+css-lock(120,165,768,1280, height)
		border: none !important
		&:hover
			opacity: .75
		img
			max-width: 100%
			max-height: 100%
			object-fit: cover


.comment-body
	display: grid
	grid-template-columns: 120px 1fr
	grid-auto-rows: minmax(min-content, auto)
	overflow: hidden
	position: relative
	+r(767)
		grid-template-columns: 40px 1fr
	&::before
		content: ''
		position: absolute
		z-index: 0
		width: calc(100% - 160px)
		height: 100%
		left: 160px
		background-color: white
		border: 1px solid #e8e8e8
		+r(767)
			width: calc(100% - 60px)
			left: 60px
.comment-author
	grid-column-start: 1
	grid-column-end: 2
	position: relative
	z-index: 1
	img
		width: 100%
		height: 100%
		object-fit: contain
	.fn
		position: absolute
		top: 19px
		left: 190px
		min-width: 500px
		z-index: 1
		font-style: normal
		text-transform: uppercase
		font-weight: 700
		+r(767)
			left: 75px
	.says
		display: none
.comment-meta
	text-align: right
	grid-column-start: 2
	grid-column-end: 3
	grid-row-start: 1
	grid-row-end: 1
	position: relative
	z-index: 1
	padding: 20px
	+r(767)
		display: none
	a:not(.comment-edit-link)
		text-decoration: none
		border: none
		font-style: italic
		font-weight: 100
		color: rgba(40,40,40,.5)

.comment
	p
		text-align: left
		grid-column-start: 2
		grid-column-end: 3
		grid-row-start: 1
		padding-top: 3em
		padding-right: 20px
		position: relative
		z-index: 1
		padding-left: 70px
		+r(767)
			padding-left: 35px
		& + p
			grid-row-start: 2
			padding-top: 0
	.reply
		grid-column-start: 2
		grid-column-end: 3
		grid-row-start: auto
		text-align: right
		position: relative
		z-index: 1
	.comment-reply-link
		text-transform: uppercase
		padding: 10px 0px 0 0
		display: inline-block
		transform: translate(-19px, -17px)
		position: relative
		&::after
			content: ''
			background-image: url(../img/icon__down-arrow.svg)
			background-size: contain
			background-repeat: no-repeat
			display: inline-block
			width: 11px
			height: 15px
			margin-left: 10px
			vertical-align: middle
	.children
		padding-left: 80px
		+r(767)
			padding-left: 20px


ul.content-list
	list-style: disc
	list-style-position: inside
	padding: 0
	margin: 0 0 1em
	li
		padding: 0
		+css-lock(17,20,768,1280)


.-bg-gray + .shareaholic-canvas + .divider-after-content
	background-color: #f6f6f6


.white
	color: #ffffff
.table-desc
	display: block
	margin-bottom: -30px
.alignleft-enabled .alignleft
	float: left
	margin: .3em 2em 2em 0