---
title: Category
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{% include "partials/_header-nav.html" %}
  <div class="social-absolute">
    {% include "partials/_social-share-top.html" %}
  </div>


  <div class='category-header'>
    <div class="container">
      <h1 class="category-title">
        Post Category
        <i class="icon icon-arrow-next"></i>
        <span>How To Guides</span>
      </h1>
    </div>
  </div>

  <article class="article">
    <div class="container">
      <h2 class="title">
        How to Install Safe Browser Extensions
      </h2>
      <div class="row posted">
        <div class="col col-auto">
          posted in
          <a href="#">Blog,</a>
          <a href="#">VPN Reviews</a>
        </div>
        <div class="col col-auto">
          on
          <a href="#">January 17, 2018</a>
        </div>
        <div class="col col-auto">
          by
          <a href="#">Ruin My Search History </a>
        </div>
        <div class="col col-auto">
          <i class="icon icon-comments">
          </i>
          <a href="#">0 Comments</a>
        </div>
      </div>
      <p>
        Extensions can add a lot of exciting features and functions to your browser. However, just like any other online app they pose a real security threat if not properly chosen. As a web user, you should know how to stay safe when downloading an extension in order to avoid fraudsters and internet scammers. Below are…
      </p>

      <p>
        <button type="button" class="btn-default btn-small -empty -icons ">
          Continue reading
          <i class="icon icon-button-arrow">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 297.5 297.5" style="enable-background:new 0 0 297.5 297.5;" xml:space="preserve">
              <polygon fill="currentColor" points="297.5,148.25 148,33.25 148,100.25 0,100.25 0,199.25 148,199.25 148,264.25 "/>
            </svg>

          </i>
        </button>
      </p>
    </div>

  </article>

  <article class="article">
    <div class="container">
      <h2 class="title">
        How to Avoid Malware on Android
      </h2>
      <div class="row posted">
        <div class="col col-auto">
          posted in
          <a href="#">Blog,</a>
          <a href="#">VPN Reviews</a>
        </div>
        <div class="col col-auto">
          on
          <a href="#">January 17, 2018</a>
        </div>
        <div class="col col-auto">
          by
          <a href="#">Ruin My Search History </a>
        </div>
        <div class="col col-auto">
          <i class="icon icon-comments">
          </i>
          <a href="#">0 Comments</a>
        </div>
      </div>
      <p>
        Nowadays, most smartphones use the Android operating system due to its quality performance and wide variety of apps available for downloading. Nevertheless, despite its great features the system is still susceptible to malware that can cause damage. Below are some steps you can take to protect your Android device from malware: 1) Only use Google…
      </p>

      <p>
        <button type="button" class="btn-default btn-small -empty -icons ">
          Continue reading
          <i class="icon icon-button-arrow">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 297.5 297.5" style="enable-background:new 0 0 297.5 297.5;" xml:space="preserve">
              <polygon fill="currentColor" points="297.5,148.25 148,33.25 148,100.25 0,100.25 0,199.25 148,199.25 148,264.25 "/>
            </svg>

          </i>
        </button>
      </p>
    </div>

  </article>

  <article class="article">
    <div class="container">
      <h2 class="title">
        The Definitive Guide to Online Safety and Anonymity
      </h2>
      <div class="row posted">
        <div class="col col-auto">
          posted in
          <a href="#">Blog,</a>
          <a href="#">VPN Reviews</a>
        </div>
        <div class="col col-auto">
          on
          <a href="#">January 17, 2018</a>
        </div>
        <div class="col col-auto">
          by
          <a href="#">Ruin My Search History </a>
        </div>
        <div class="col col-auto">
          <i class="icon icon-comments">
          </i>
          <a href="#">0 Comments</a>
        </div>
      </div>
      <p>
       The internet has opened up the world and made it possible for people to communicate across vast distances at the touch of a button. However, web surfers still need to be careful when going online because there are many dangers present in the cyber world. There are various tools and techniques that can be used…
      </p>

      <p>
        <button type="button" class="btn-default btn-small -empty -icons ">
          Continue reading
          <i class="icon icon-button-arrow">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 297.5 297.5" style="enable-background:new 0 0 297.5 297.5;" xml:space="preserve">
              <polygon fill="currentColor" points="297.5,148.25 148,33.25 148,100.25 0,100.25 0,199.25 148,199.25 148,264.25 "/>
            </svg>

          </i>
        </button>
      </p>
    </div>

  </article>

  <article class="article">
    <div class="container">
      <h2 class="title">
        Firefox Android – How to use Private Browsing (Incognito Mode)
      </h2>
      <div class="row posted">
        <div class="col col-auto">
          posted in
          <a href="#">Blog,</a>
          <a href="#">VPN Reviews</a>
        </div>
        <div class="col col-auto">
          on
          <a href="#">January 17, 2018</a>
        </div>
        <div class="col col-auto">
          by
          <a href="#">Ruin My Search History </a>
        </div>
        <div class="col col-auto">
          <i class="icon icon-comments">
          </i>
          <a href="#">0 Comments</a>
        </div>
      </div>
      <p>
       In this article we will explain how you can start browsing in private mode on Firefox for Android. This is especially important if you use a device that is shared between the family or multiple people. Browsing in private mode doesn’t allow the device to record your browsing history, web cache data or any other…
      </p>

      <p>
        <button type="button" class="btn-default btn-small -empty -icons ">
          Continue reading
          <i class="icon icon-button-arrow">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 297.5 297.5" style="enable-background:new 0 0 297.5 297.5;" xml:space="preserve">
              <polygon fill="currentColor" points="297.5,148.25 148,33.25 148,100.25 0,100.25 0,199.25 148,199.25 148,264.25 "/>
            </svg>

          </i>
        </button>
      </p>
    </div>

  </article>

  <article class="article">
    <div class="container">
      <h2 class="title">
        How to use Private Browsing (Incognito Mode) – Android Chrome
      </h2>
      <div class="row posted">
        <div class="col col-auto">
          posted in
          <a href="#">Blog,</a>
          <a href="#">VPN Reviews</a>
        </div>
        <div class="col col-auto">
          on
          <a href="#">January 17, 2018</a>
        </div>
        <div class="col col-auto">
          by
          <a href="#">Ruin My Search History </a>
        </div>
        <div class="col col-auto">
          <i class="icon icon-comments">
          </i>
          <a href="#">0 Comments</a>
        </div>
      </div>
      <p>
       This article explains how you can turn on an option that allows you to browse privately on your Android device, when using the Chrome browser. By using Incognito Mode, you can rest assure that Chrome will not save any browsing history or web cache. This is especially useful if you use devices that are shared…
      </p>

      <p>
        <button type="button" class="btn-default btn-small -empty -icons ">
          Continue reading
          <i class="icon icon-button-arrow">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 297.5 297.5" style="enable-background:new 0 0 297.5 297.5;" xml:space="preserve">
              <polygon fill="currentColor" points="297.5,148.25 148,33.25 148,100.25 0,100.25 0,199.25 148,199.25 148,264.25 "/>
            </svg>

          </i>
        </button>
      </p>
    </div>

  </article>



  <div class="pagination">
    <span class="pagination__item pagination__current">1</span>
    <a href="#" class="pagination__item">2</a>
    <a href="#" class="pagination__item"> &#187; </a>
    <a href="#" class="pagination__item">Last</a>
  </div>


{% endblock %}


{% block footer %}
  {% include "partials/_footer.html" %}
{% endblock %}
