.posted
	margin-bottom: 31px
	a
		+f_reg


.vpn
	border: 1px solid #45a147
	// box-shadow: 0 0 60px -5px rgba(#000000, .2)
	box-shadow: 11.89px 10.706px 76px 0px rgba( 0, 0, 0 ,.13)
	border-radius: 15px
	+css-lock(30,60,768,1280,margin-bottom)
	+r(767)
		&:last-child
			margin-bottom: 0
	&__head
		color: #ffffff
		background-color: #45a147
		+css-lock(22,30,768,1280)
		+css-lock(54,70,768,1280,height)
		+css-lock(54,70,768,1280,line-height)
		text-align: center
		border-radius: 15px 15px 0 0
	&__first-col
		padding-right: 0
		padding-top: 5px
		+rmin(768)
			border-right: 1px solid #45a147
	&__body
		+r(767)
			margin-left: 0
			margin-right: 0
			& > .col
				padding-left: 0
				padding-right: 0
	&__list
		padding: 0 20px
		margin: 0
		li
			border-bottom: 1px dashed #d1e0fb
			position: relative
			padding: 7px 20px 7px 55px
			+css-lock(20,24,768,1280)
			background-color: transparent
			+r(980)
				padding: 3px 14px 5px 45px
				+fs(17)
			&::before
				content: ''
				width: 30px
				height: 30px
				left: 0
				display: block
				+center(v)
				background-image: url('../img/icon__checkmark-vpn.png')
				background-repeat: no-repeat
				z-index: 1
			&.forms::before
				background-image: url('../img/icon__forms-vpn.png')
			&.forms
				+f_semi
				&::after
					content: ''
					position: absolute
					background-color: #d1e0fb
					top: 0
					left: -20px
					width: calc(100% + 40px)
					height: 100%
					z-index: 0
				span
					position: relative
					z-index: 1
					+f_semi
			&.link::before
				background-image: url('../img/icon__link-vpn.png')
			& *,
			a,
			span
				+f_light
	&__btn
		max-width: calc(100% - 40px)
		margin: 20px auto
	&__subinfo
		display: block
		width: 100%
		max-width: calc(100% - 15px)
		margin: 20px auto
		text-align: center
		+css-lock(20,24,768,1280)
		+f_light
	&__logo-wrapper
		padding-right: 0
		padding-left: 0
		display: flex
		flex-flow: column wrap
		+r(767)
			order: -1
			padding: 15px
			margin-bottom: 15px
			border-bottom: 1px solid #45a147
			min-height: 100px
		img,
		svg
			max-width: 80%
			display: block
			margin: auto
			+rIn(768,979)
				left: -7px
				position: relative
				max-width: 70%
			+r(767)
				max-height: 70px




