<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-md-4">
        <a href="mailto:">hello@ruinmysearchhistory.com</a>
        <a href="#">Disclaimer</a>
      </div>
      <div class="col col-12 col-md-4 footer-bordered">
        <div class="footer__title">
          Recent Posts
        </div>
        <ul class="footer__list">
          <li>
            <a href="#">
            - Express VPN Review
            </a>
          </li>
          <li>
            <a href="#">
            - HideMyAss (HMA) VPN Review
            </a>
          </li>
          <li>
            <a href="#">
            - How to Install Safe Browser Extensions
            </a>
          </li>

        </ul>
      </div>
      <div class="col col-12 col-md-4">
        <ul class="footer__list -last">
          <li>
            <a href="#">
            - Why Free VPNs are Not Worth It
            </a>
          </li>
          <li>
            <a href="#">
            - NordVPN Review
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
