<div class="header-main">
  <div class="container">
    <h1 id="initial" class="header-main-search-desc">
      <span id="queryText" class='header-main-text'>
        <span style="color:#3f85f7">Ruin</span>
        <span style="color:#f13b37">My</span>
        <span style="color:#fcbb07">Search</span>
        <span style="color:#34a857">History</span>
      </span>
      <button id="magnifyingGlass" class='btn-default btn-search'>
        <i class="icon icon-search">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 56.966 56.966" xml:space="preserve">
            <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" fill="currentColor"></path>
          </svg>
        </i>
      </button>
    </h1>
  </div>
</div>
