<header class='page-header'>
  <div class="container page-header-inner">

    <div class="mob-blog-header-nav" mob-menu-wrapper>
      {# trigger mobile menu #}
      <span class="mob-calls__menu"><i></i></span>

      {# mobile & desctop menu #}
      <nav class="menu">
        <ul class="nav">
          <li class="nav__item">
            <a href="#" class="nav__point"><span>Recent Blog Posts</span>
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__point "><span>Search History Guide</span></a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__point"><span>Top VPNs</span></a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__point -is-active"><span>About</span></a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__point"><span>Ruin My Search History (Home)</span></a>
          </li>
        </ul>
      </nav>
    </div>



    {# <nav>
      <ul class="menu">
        <li>
          <a href="#">
            Recent Blog Posts
          </a>
        </li>
        <li>
          <a href="#">
            Search History Guide
          </a>
        </li>
        <li>
          <a href="#">
            Top VPNs
          </a>
        </li>
        <li class='is-active'>
          <a href="#">
            About
          </a>
        </li>
        <li>
          <a href="#">
            Ruin My Search History (Home)
          </a>
        </li>
      </ul>
    </nav> #}
    <div class="search">
      <input class='search__input' type="text" placeholder="Search">
      <button class="search__btn">
        <i class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 56.966 56.966"  xml:space="preserve">
            <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" fill="currentColor"/>
          </svg>
        </i>
      </button>
    </div>
  </div>
</header>
