

.wrap2 {
	max-width: 800px;
}


/* ============================================================================= */


.wrap2 .nav-tab {
	padding-left: 20px;
	padding-right: 20px;
}


.wrap2 .nav-tab-active:hover {
	cursor: default;
}


/* ============================================================================= */


.wrap2 table {
	border-spacing: 0px;
	width: 100%;
}

/* ============================================================================= */

.wrap2 .option-left
{
	border-top: 1px solid #dfdfdf;
	border-bottom: 2px solid #ffffff;
	border-right: 2px solid #ffffff;

	padding-right: 20px;
	padding-bottom: 20px;
	
	width: 450px;
}

.wrap2 .metabox-prefs .option-left { width: 350px; }

.wrap2 .option-right
{
	font-size: 11px;
	color: #999999;

	border-top: 1px solid #dfdfdf;
	border-bottom: 2px solid #ffffff;
	border-left: 1px solid #dfdfdf;
	
	padding-left: 20px;
}


/* ============================================================================= */


.wrap2 table tr:first-child td { border-top: 0px; }

.wrap2 table tr:last-child td { border-bottom: 0px; }


/* ============================================================================= */


.wrap2 textarea
{
	resize: vertical;
	width: 100%;
}

.wrap2 select
{
	height: auto;
}

.wrap2 .button-primary
{
	margin-top: 20px;
}

.wrap2 label
{
	display: inline-block;
	margin-top: 20px;
}


/* ============================================================================= */


.code2 { font-family: Consolas, Monaco, monospace, "Courier New"; }


/* ============================================================================= */


.wrap2 .alert-success { height: 50px; }


.wrap2 .alert-success p
{
	color: #333333;
	background-color: #ffffe0;
	border: 1px solid #e6db55;
	cursor: pointer;
	padding: .7em;

	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.wrap2 .status
{
	display: none;
	position: fixed;
	top: 44%;
	left: 44%;
	z-index: 999;
	
	font-size: 20px;
	color: #333333;
	background-color: #ffffe0;
	border: 1px solid #e6db55;

	padding: 25px;
	
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.wrap2 .status img { margin-right: 10px; }

/* ============================================================================= */

.color { margin-top: 3px !important; margin-left: 10px !important; }

