/*
	Name: Read
	Description: Responsive HTML5 Template
	Version: 1.2
	Author: pixelwars
*/


/* -------------------------------------------- */
/* GENERIC */
html { font-size:100%; }
body { line-height:1.6; overflow-x: hidden; }
img { max-width:100%; height:auto; }
iframe { border:0; outline:none; }
video, audio { width:100%; }
object, embed, video, iframe { max-width:100%; }
h1, h2, h3, h4, h5, h6 { line-height:1.5; font-weight:400; }
a { color: #CE6607; text-decoration:none; }
a:hover { color:#A35208; }
a:focus { outline: none; }
h1 a { color:#333; }
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.easing, .media-box .mask { 
  -webkit-transition: all 0.3s ease-out;  /* Safari 3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5–12.00 */
          transition: all 0.3s ease-out;  /* Firefox 16+, Opera 12.50+ */ }


/* -------------------------------------------- */
/* FONTS */
html, button, input, select, textarea, .toggle h4 { font-family: 'Lora', Georgia, serif; }
h1, h2, h3, h4, h5, h6, .main-navigation ul li, dt { font-family:"Coustard", Georgia, serif; }
h1.site-title, h1.site-title a { font-family:"UnifrakturMaguntia", Georgia, serif; }


/* -------------------------------------------- */
/* COLORS */
/* Text Selection */
::selection { text-shadow:none; color:#333; background:#FFFFCF; }
::-moz-selection { text-shadow:none; color:#333; background:#FFFFCF; }
body { color:#444; background: #fff; }


/* -------------------------------------------- */
/* LAYOUT */
.middle { padding-bottom: 4em; overflow: hidden; }
.wrapper { width:100%; }
.wrapper > .row { width:80%; margin-left:auto; margin-right:auto; }
.row-fluid { margin-left:auto; margin-right:auto; }
.readable-content { max-width:780px; margin-left:auto; margin-right:auto; }
.blog-with-sidebar { max-width: 1200px; }
/* tablets */
@media (min-width: 768px) and (max-width: 979px) {
	.wrapper > .row { width:80%; }
}
@media (max-width: 767px) { 
	.wrapper > .row { width:90%; }
}

/* HEADER */
.site-header { padding-top:1.250em; padding-bottom: 3em; text-align:center; }
.site-header hgroup { padding: 2.5em 0 1.875em 0; }
h1.site-title { font-size:6em; line-height:1.3; margin-bottom:.25em; margin-top:0; }
h1.site-title img { max-height:200px; }
h1.site-title a { border-bottom:1px dotted #ccc; }
h1.site-title a:hover { color:#000; }
.site-description { font-size:.8em; font-weight:400; }

/* MOBILE NAV */
.main-navigation div.selector { display:none; margin:0 auto; border:0; width: 210px !important; }
.main-navigation div.selector select { font-weight: bold; opacity: 1; }
.main-navigation div.selector:before { font-family: FontAwesome; font-size:17px; content: "\f0c9"; }
.main-navigation div.selector span { font-weight:bold; }

/* NAVIGATION */
.main-navigation { border-style:solid; border-width:1px 0; border-color: #eee; }
.main-navigation ul { list-style:none; padding:0; margin:0; }
.main-navigation ul li { position:relative; display:inline-block; margin:0 1.25em; padding:1em 0; max-height: 1.5em; font-size:.9em; }
.main-navigation ul li a { display:inline-block; }
.main-navigation ul .current-menu-item > a { color:#C30; }
.main-navigation ul li, .main-navigation ul li a { color:#333; }
.main-navigation > ul > li > a:hover, .main-navigation > ul > li > a.selected { border-bottom:1px dotted #ccc; }

/* navigation level 2 */
.main-navigation ul ul { display:none;  position:absolute; top:3.542em; margin:-2px 0 0 0; left:-1em; width:160px; z-index:310; padding: 0; border:1px solid #ddd; border-top:2px solid #555;  box-shadow: 0px 0px 10px 1px rgba(0,0,0,.1); }
.main-navigation ul ul li { display:block; max-height:none; padding:0; margin:0; text-align:left; background-color:#fff;  }
.main-navigation ul ul li { border-bottom: 1px solid #eee; }
.main-navigation ul ul li:first-child { border-top:0; } 
.main-navigation ul ul li a { display:block; padding:.8em 1.2em; font-size:.95em; color:#666; }
.main-navigation ul ul li a:hover, .main-navigation ul ul li a.selected { color:#000; }
.main-navigation ul ul li:last-child { border-bottom:none; }
.main-navigation ul ul:after { content: " "; position: absolute; left: 1.6em; bottom: 100%; pointer-events: none; width: 0; height: 0; border-bottom: 12px solid #555; border-right: 12px solid transparent; }

/* navigation level 3 */
.main-navigation ul ul ul { top:0; left:auto; right:160px; border:1px solid #ddd; border-right:2px solid #777; }
.main-navigation ul ul ul:after { content: " "; position: absolute; top: 1.2em; left: 100%; pointer-events: none; width: 0; height: 0; border:0; border-top: 10px solid #555; border-right: 10px solid transparent; }
.main-navigation ul ul ul a { font-size:1em; }

/* SEARCH */
#search-form { position:relative; }
#search-form label { position:absolute; font-size:1em; top:0; left:0; cursor:text; }
#search-form label:hover { color:#777; } 
#search-form #search { font-size:.9em; color:#888; width:50px; min-width:0; max-width: none; padding:3px 23px 3px 0; border:0; outline:0; background-color: transparent; -moz-box-sizing:content-box;-webkit-box-sizing:content-box;-ms-box-sizing:content-box;box-sizing:content-box; }
#search-form #search:focus { color:#333; border-bottom:1px dotted #ccc; }
#search-submit { position:absolute; top:.24em; right:0; margin: 0 0 0 -23px; font-size:1em; text-shadow:none; color:#444; border:0; outline:0; padding:0; background:none; }
#search-submit:hover { color:#000; }

/* Mobile Search */
.search-mobile { display: none; position: relative; padding: 2em 1em; background: #333; }
.search-mobile form { max-width: 262px; position: relative; margin: 0 auto; }
.search-mobile #search-mobile-input { border-color: #000; }
.search-mobile #search-mobile-submit { position:absolute; top: 9px; right: 16px; margin: 0 0 0 -23px; font-size:1em; text-shadow:none; color:#444; border:0; outline:0; padding:0; background:none; }

/* FOOTER */
.site-footer { padding: 0 0 1.5em 0; }
.site-footer > .row { border-top: 1px solid #eee; }
.site-footer .site-info { padding-top:1em; text-align:center; font-size:.9em; }
.site-footer .site-info, .site-footer .site-info a { color:#666; }


/* -------------------------------------------- */
/* TYPOGRAPHY */
/* headings and paragraphs */
h1 { font-size: 2.20em; margin: 0.8em 0 0.4em 0; }
h2 { font-size: 1.60em; margin: 1.4em 0 0.8em 0; }
h3 { font-size: 1.20em; margin: 1.0em 0 .6em 0; }
h4 { font-size: 0.90em; margin: 1.0em 0 .6em 0; }
h5 { font-size: 0.90em; margin: 1.0em 0 .8em 0; }
h6 { font-size: 0.85em; margin: 1.0em 0 .8em 0; }
p { margin: 1.2em 0; }
.entry-title { margin-top:0; }
.entry-content h4 { padding-left: .8em; border-left: 4px solid #ccc; }
.entry-content h5 { font-weight:bold; }
.lead { font-size:1.2em; }

/* tagline and blockquote */
.tagline, blockquote { text-align:center; }
.tagline *:first-child { margin-top:0; }
blockquote { position: relative; margin:2em 0; padding:1em 3em 2em 3em; }
blockquote:before { display: block; content: "\201C"; line-height:1; font-size: 6em; font-family:Georgia, "Times New Roman", Times, serif; position: absolute; left: 0; top: -0.1em; color: #ddd; }
blockquote { font-size:1.3em; }
blockquote cite { color: #999; font-size: .85em; display: block; margin-top: .8em; }
blockquote cite:before { content: "\2014 \2009"; }
.tagline { margin:3em 0; padding:1em 2em; border-width:1px 0; border-style:dashed; border-color:#ccc; }
.tagline * { padding-bottom:0; margin-bottom:0; }
.tagline p { font-size:1.4em; }
.tagline h3, .tagline h4 { border:0; padding:0; }
hr { padding: .6em 0 1em 0; outline:0; border-width:0 0 1px 0; border-style:dashed; border-color: #ccc; }

/* tables */
table { font-size:.9em; }
tr th { padding:.6em 2em .4em 0; border-bottom:4px solid #555; text-transform:uppercase; }
tr td { color:#666; padding:.8em 2em .6em 0;  border-bottom:1px solid #eee; }
tfoot tr td { border-bottom:0; }
tr:nth-child(odd) td {}

.drop-cap:first-letter {  font-size:300%; font-weight:bold; line-height: 1; float:left; padding: 0px 16px 0px 0; }

/* code and pre */
code,
pre { padding: 0 3px 2px; margin-bottom:2em; font-family: Monaco, Menlo, Consolas, "Courier New", monospace; font-size: 12px; color: #333333; }
code { display: inline-block; margin:0 .4em; padding: 1px 6px; background: #fff; border: 1px solid #DDD; box-shadow: 1px 1px 0 #fff, 2px 2px 0 #ddd; }

/* lists */
ol, ul { margin: .2em 0 1em 0; }
ul { list-style:square; }
.icons { list-style:none; padding-left:1em; }
.icons i { font-size:14px; width:1.8em; padding-right:0; text-align:left; }
.icons li:before, dd:before, .widget-area ul li:before, .toggle h4:before, .alert:before, .bypostauthor > article:after, .blog-single .entry-meta:before, .entry-meta .comments-link:before, .hentry:before, .flex-direction-nav a:before, .portfolio-info:before, .intro .launch-wrap:before, .fancy-ico:before, #fancybox-close:before, .share-links:before, .hentry.sticky:before { font-family: FontAwesome; font-weight: normal; font-size:9px; width:1.8em; text-align:left; font-style: normal; display: inline-block; text-decoration: inherit; }
.icon-ok-list li:before { content: "\f00c"; }
.icon-plus-list li:before { content: "\f067"; }
.icon-minus-list li:before { content: "\f068"; }
.icon-hand-right-list li:before { content: "\f0a4"; font-size:14px; }
.icon-thumbs-up-list li:before { content: "\f087"; font-size:14px; }
.icon-star-list li:before { content: "\f005"; font-size:14px; }
.icon-star-empty-list li:before { content: "\f006"; font-size:14px; }
.icon-chevron-right-list li:before { content: "\f054"; font-size:14px; }
.icon-th-large-list li:before { content: "\f009"; font-size:9px; width:2.2em; }
dt { font-size:.92em; }
dd { font-size:.9em; padding-bottom:1em; margin-left:1em; }
dd:before { content: "\f0a4"; font-size:14px; }

/* forms */
label { display:block; font-size:.9em; margin-bottom:.2em; }
input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]), textarea, select { padding:.7em; width:262px; max-width: 100%; font-size:.9em; color:#444; border:1px solid #ddd; border-radius:0; background:#fff; -webkit-appearance: none; -webkit-tap-highlight-color: transparent; -moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box; }
input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]):focus, textarea:focus, input:focus, select:focus, div.uploader:hover { border-color:#aaa; outline:0; }
select { min-width:262px; }
textarea { width:41%; min-width:262px; min-height:10em; }
.inline-label { display:inline-block; margin-right:2em; }

/* uniform */
div.selector.disabled, div.checker.disabled, div.radio.disabled { opacity:.4; }
div.selector { font-size: .9em; padding: .4em; width:240px !important; padding-left:1em; background:#fff; border:1px solid #ddd; }
div.selector:before, div.checker span:before, div.radio span:before, div.uploader span.action:before { font-family: FontAwesome; font-weight: normal; font-size:9px; width:1.8em; text-align:right; font-style: normal; display: inline-block; text-decoration: inherit; }
div.selector:before { position:absolute; top:.5em; right:1em; font-size:16px; color:#555; content: "\f078"; }
div.selector.focus { border-color:#aaa; }
div.selector.focus:before { color:#000; }
div.selector span { padding-top:2px; padding-left:0; background:none; }
div.selector select { width:98% !important; left:1% !important; height:auto; min-height:39px; line-height:36px; font-size:1em; -webkit-tap-highlight-color: transparent; }
/*.android div.selector select { font-size:2em; }*/

/* checkboxes */
div.checker, div.radio { width: 20px; height: 29px; margin-right:7px; }
div.checker span, div.radio span { background:none; }
div.checker span:before, div.radio span:before { text-align:left; position:absolute; top:2px; left:0; font-size:22px; line-height:120%; color:#444; content: "\f096"; }
div.checker span.checked:before, div.radio span.checked:before { content: "\f046"; }
div.checker span:hover:before, div.radio span:hover:before { color:#000; }

/* file upload */
div.uploader { width: 260px; height:37px; background: #fff; border: 1px solid #DDD; }
div.uploader input { width:100%; z-index:100; line-height:39px; min-height:39px; }
div.uploader span.filename { padding: 6px 10px; width:100%; border-left:0; font-size:13px; }
div.uploader span.action { width:9px; text-indent:-999em; background: #fff; padding:8px 4px 8px 29px; position: absolute; top: 0; right: 0; font-size:13px; border-left: 1px solid #DDD; }
div.uploader span.action:before { text-indent:0; content: "\f093"; font-size:20px; text-align:left; position:absolute; top:8px; left:13px; }

/* contact form 7 compatibility */
.wpcf7, .contact-form { padding:1em 0 1em 0; }
.wpcf7 input[type=submit], .contact-form input[type=submit] { margin-top:1.4em; }
.wpcf7 label { display:inline-block; margin-right:2em; }
.wpcf7 div.checker, .wpcf7 div.radio { margin-right:0px; }

/* validation */
form p { position: relative; }
label.error { position: absolute; bottom: -18px; left:0; min-width: 132px; text-align: left; display: inline-block; font-size: 13px; padding: 0 .8em; border-radius: 2px; background-color: #DA4842; color: #fff;  }
label.error:after { content: " "; position: absolute; left: 1.6em; bottom: 100%; pointer-events: none; width: 0; height: 0; border-bottom: 8px solid #DA4842; border-right: 8px solid transparent; }
.contact-form .ajax-loader { display:none; margin: 1em; }
.contact-form .alert { display: none; }

/* Buttons */
input[type=submit], input[type=button], button, a.button { position:relative; padding:.8em 2em .7em; font-size:.9em; line-height:1.2; border:0; outline:0; color:#fff; text-shadow:0 1px 0 rgba(0,0,0,.3); background:#333; border-radius:0; }
input[type=submit]:hover, input[type=button]:hover, button:hover, a.button:hover { color: #fff; background:#2a2a2a; }
input[type=submit]:active, input[type=button]:active, button:active, a.button:active { background:#1a1a1a; }

/* Large Buttons */
input[type=submit].big, input[type=button].big, button.big, a.button.big { font-size:1.1em; font-weight:bold; }

/* Small Buttons */
input[type=submit].small, input[type=button].small, button.small, a.button.small { padding:.6em 1.2em .5em; font-size:.8em; font-weight:bold; }

/* Buttons Fancy */
input[type=submit].fancy, input[type=button].fancy, button.fancy, a.button.fancy { border-radius:4px; border: 1px solid rgba(0,0,0,.1); box-shadow: inset 0 10px 30px rgba(255,255,255,.4), inset 0 1px 0 0px rgba(255,255,255,.4); }
input[type=submit].fancy:active, input[type=button].fancy:active, button.fancy:active, a.button.fancy:active { border: 1px solid rgba(0,0,0,.2); box-shadow: inset 0 2px 6px rgba(0,0,0,.2); }

/* Buttons 3D */
input[type=submit].d3, input[type=button].d3, button.d3, a.button.d3 { border-radius:4px; border: 1px solid rgba(0,0,0,.1); border-bottom:4px solid rgba(0,0,0,.3); box-shadow: inset 0 10px 30px rgba(255,255,255,.2), inset 0 1px 0 0px rgba(255,255,255,.4), 0 1px 0 1px rgba(0,0,0,.1), inset 0 -1px 0 0 rgba(255,255,255,.2); }
input[type=submit].d3:active, input[type=button].d3:active, button.d3:active, a.button.d3:active { border: 1px solid rgba(0,0,0,.2); margin-top:3px; }

/* Buttons with icons */
input[type=submit].icon-button , input[type=button].icon-button, button.icon-button, a.button.icon-button { padding-left:2.8em; }
input[type=submit].icon-button.big, input[type=button].icon-button.big, button.icon-button.big, a.button.icon-button.big { padding-left:3.6em; }
input[type=submit] i, input[type=button] i, button i, a.button i { position:absolute; top:.45em; left:1.2em; line-height:1; /*line-height:.16;*/ font-size:1.4em; margin-right:.4em; margin-left: -0.35em; margin-bottom:-1em; color: rgba(0,0,0,.4); text-shadow:0 1px 0 rgba(255,255,255,.4); }
input[type=submit].green i, input[type=button].green i, button.green i, a.button.green i, input[type=submit].red i, input[type=button].red i, button.red i, a.button.red i, input[type=submit].orange i, input[type=button].orange i, button.orange i, a.button.orange i { text-shadow:0 1px 0 rgba(255,255,255,.2); }  
input[type=submit].big i, input[type=button].big i, button.big i, a.button.big i { top:.2em; left:1.0em; font-size:2em; } 

/* blue buttons */
input[type=submit].blue, input[type=button].blue, button.blue, a.button.blue { background: #6FBBD8; color:#333; color:rgba(0,0,0,.6); text-shadow:0 1px 0 rgba(255,255,255,.2); }
input[type=submit].blue:hover, input[type=button].blue:hover, button.blue:hover, a.button.blue:hover { background: #6AB5D1; }
input[type=submit].blue:active, input[type=button].blue:active, button.blue:active, a.button.blue:active { background: #60A5BE; }
/* red buttons */
input[type=submit].red, input[type=button].red, button.red, a.button.red { background: #BE3C3A; }
input[type=submit].red:hover, input[type=button].red:hover, button.red:hover, a.button.red:hover { background: #B1312F; }
input[type=submit].red:active, input[type=button].red:active, button.red:active, a.button.red:active { background: #9B2A28; }
/* green buttons */
input[type=submit].green, input[type=button].green, button.green, a.button.green { background: #4BAE97; color:#333; color:rgba(0,0,0,.6); text-shadow:0 1px 0 rgba(255,255,255,.2); }
input[type=submit].green:hover, input[type=button].green:hover, button.green:hover, a.button.green:hover { background: #3C9B85; }
input[type=submit].green:active, input[type=button].green:active, button.green:active, a.button.green:active { background: #358D79; }
/* yellow buttons */
input[type=submit].yellow, input[type=button].yellow, button.yellow, a.button.yellow { background: #FFD330; color:#333; color:rgba(0,0,0,.6); text-shadow:0 1px 0 rgba(255,255,255,.2); }
input[type=submit].yellow:hover, input[type=button].yellow:hover, button.yellow:hover, a.button.yellow:hover { background: #F5CA2B; }
input[type=submit].yellow:active, input[type=button].yellow:active, button.yellow:active, a.button.yellow:active { background: #ECBF19; }
/* light buttons */
input[type=submit].light, input[type=button].light, button.light, a.button.light { background: #EEE; color:#333; color:rgba(0,0,0,.6); text-shadow:0 1px 0 rgba(255,255,255,.2); }
input[type=submit].light:hover, input[type=button].light:hover, button.light:hover, a.button.light:hover { background: #e7e7e7; }
input[type=submit].light:active, input[type=button].light:active, button.light:active, a.button.light:active { background: #DDD; }
/* orange buttons */
input[type=submit].orange, input[type=button].orange, button.orange, a.button.orange { background: #E9A948; color:#333; color:rgba(0,0,0,.6); text-shadow:0 1px 0 rgba(255,255,255,.2); }
input[type=submit].orange:hover, input[type=button].orange:hover, button.orange:hover, a.button.orange:hover { background: #DFA650; }
input[type=submit].orange:active, input[type=button].orange:active, button.orange:active, a.button.orange:active { background: #D59D4A; }
/* navy buttons */
input[type=submit].navy, input[type=button].navy, button.navy, a.button.navy { background: #9BB9BE; color:#333; color:rgba(0,0,0,.6); text-shadow:0 1px 0 rgba(255,255,255,.2); }
input[type=submit].navy:hover, input[type=button].navy:hover, button.navy:hover, a.button.navy:hover { background: #92AEB3; }
input[type=submit].navy:active, input[type=button].navy:active, button.navy:active, a.button.navy:active { background: #809CA2; }
/* grass buttons */
input[type=submit].grass, input[type=button].grass, button.grass, a.button.grass { background: #A1D86F; color:#333; color:rgba(0,0,0,.6); text-shadow:0 1px 0 rgba(255,255,255,.2); }
input[type=submit].grass:hover, input[type=button].grass:hover, button.grass:hover, a.button.grass:hover { background: #9BCE6C; }
input[type=submit].grass:active, input[type=button].grass:active, button.grass:active, a.button.grass:active { background: #92C464; }



/* -------------------------------------------- */
/* PAGE WITH SIDEBAR */

/* WIDGET AREA */
.widget-area { padding:1em 0; color:#666; }
#secondary .widget { padding:0 0 2.6em 2em; }
.widget-title, .widget-title a { color:#444; }
.widget-area ul li { font-size:.9em; }
.widget-area a { color:#333; }
.widget-area a:hover { background-color:#f7f7f7; border-bottom:1px dotted #aaa; } 
.widget-area a:active { background-color:#eee; }

/* DEFAULT WIDGETS */
.widget-area ul { list-style:none; padding-left:0em; }
.widget-area ul li { position:relative; padding-left:1.4em; margin-bottom:.4em; line-height:1.4; }
.widget-area ul li:before { position:absolute; top:.2em; left:0; content: "\f009"; font-size:10px; width:22px; color:#666; }
.widget input[type=text], .widget textarea { min-width:0 !important; width:50%; max-width:240px; margin-right:1em; margin-bottom: 1em; }

/* recent entries widget */
.widget_recent_entries ul li:before { content: "\f08d"; font-size:13px; }

/* archive widget */
.widget_archive ul li:before { content: "\f01c"; font-size:12px; top:.35em; }

/* recent comments widget */
.widget_recent_comments ul li:before { content: "\f0e6"; font-size:16px; top:0; }

/* categories widget */
.widget_categories ul li:before { content: "\f097"; font-size:14px; top:0.1em; }

/* meta widget */
.widget_meta ul li:before { content: "\f0a4"; font-size:14px; top:0.1em; }

/* links widget */
.widget_links ul li:before { content: "\f0c1"; font-size:14px; top:0.1em; }

/* pages widget */
.widget_pages ul li:before { content: "\f016"; font-size:14px; top:0.1em; }

/* calendar widget */
.widget_calendar table caption, .widget_rss .rss-date, .widget_rss cite:before { text-align:left; font-style:italic; color:#888; }
.widget_calendar table tr td, .widget_calendar table tr th { padding: .5em 1.1em .4em 0; }
.widget_calendar tr td { color:#999; }
.widget_calendar tbody a { border-bottom: 1px dotted #777; }

/* text widget */
.textwidget { font-size:.9em; }

/* rss widget */
.widget_rss .rss-date { margin-left:1em; font-size:.88em; }
.widget_rss ul li { padding-bottom:.8em; }
.widget_rss ul li a.rsswidget { font-weight:bold; }
.widget_rss ul li:before { content: "\f055"; font-size:14px; top:0.2em; }
.widget_rss .widget-title img { margin-right:.1em; }
.widget_rss cite { display:block; margin-top:.6em; text-align:right; }
.widget_rss cite:before { content:"by "; }
.widget_rss .rssSummary { padding-top:.2em; } 

/* tag cloud widget */
.tagcloud a { padding-right: .1em; font-size: 13px !important; background: #f7f7f7; padding: 8px 15px; margin-bottom: 3px; display: inline-block; }
.tagcloud a:hover { border: none; background: #eee; }
.tagcloud a:active { background: #e7e7e7; }

/* search widget */
#searchform label, #searchform #searchsubmit { display:none; }

/* CUSTOM WIDGETS */
/* recent entries widget */
.widget_popular_entries ul li:before { content: "\f006"; font-size:16px; top:0; }

/* EMAIL NEWSLETTER WIDGET */
.eemail_caption { padding:.5em .5em .5em 0; font-size:.9em; }
.eemail_msg { padding-top:5px; color:#F00; }
.eemail_textbox { padding-bottom:0; }
.eemail_button { padding-bottom:.8em; }
.eemail_textbox_class {	width:200px; }

/* FLICKR WIDGET */
.flickr_badge_image, .instagram-placeholder { display:inline-block; margin:0 .8em .6em 0; }
.flickr_badge_image img, .instagram-placeholder img { max-width:60px; padding:.2em; border:1px solid #eee; }
.flickr_badge_image a:hover, .instagram-placeholder a:hover { border:0; text-decoration:none; }
.flickr_badge_image a:hover img, .instagram-placeholder a:hover img { border-color: #ccc; }

/* INSTAGRAM WIDGET */
.instagram-placeholder img { max-width: 75px; }

/* FLICKR AND INSTAGRAM WIDGET IN FOOTER */
.site-footer .flickr_badge_image, .site-footer .instagram-placeholder { margin:0 .4em .3em 0; }
.site-footer .flickr_badge_image img, .site-footer .instagram-placeholder img { max-width:50px; }

/* TWITTER WIDGET */
.widget-twitter ul li { margin-bottom:3em; padding-top:.4em; max-width:26em; }
.widget-twitter ul li:before { content: "\f099"; font-size:22px; top:-0.2em; }
.widget-twitter ul li span { position:relative; display:block; margin-left:2em; padding:1em 1.4em; background:#f7f7f7; }
.widget-twitter ul li span:before { content:''; position:absolute; top:0; right:100%; width: 0; height: 0; border-top: 13px solid #e7e7e7; border-left: 15px solid transparent; }
.widget-twitter ul li span + a { float:right; margin-top:.4em; color:#aaa; }

/* Dynamic To Top */
#dynamic-to-top { border: 0; -webkit-border-radius: 0px; border-radius: 0px; box-shadow: none; -webkit-box-shadow: none; }
#dynamic-to-top:hover { background: #000; }

/* FOOTER WIDGET AREA */
.site-footer .widget-area { padding:2em 0; }

/* SOCIAL */
@font-face { font-family: 'JustVectorRegular'; font-weight: normal; font-style: normal;
    src: url('fonts/justvector/justvector-webfont.eot');
    src: url('fonts/justvector/justvector-webfont.eot?#iefix') format('eot'),
         url('fonts/justvector/justvector-webfont.woff') format('woff'),
         url('fonts/justvector/justvector-webfont.ttf') format('truetype'),
         url('fonts/justvector/justvector-webfont.svg#webfontmuk63VQd') format('svg');
}
.social { padding:0; margin:1em 0; list-style:none; }
.widget-area ul.social li:before { display:none; }
.social li, .widget-area ul.social li { display:inline-block; padding:0; margin-bottom: -3px; }
.social li a { display:block; float:left; line-height:90%; text-align:center; font-family: 'JustVectorRegular'; font-size:32px; padding: 8px 8px 4px 8px; min-width:27px; max-height:28px; color:#444; background:#fff; }
.entry-content .social a:not(.button), .widget-area ul.social li a { letter-spacing:0; border: 1px solid #ddd; color:#444; background:#fff; }
.social li a:hover { color:#fff !important; border-color:rgba(0,0,0,.9); background-color:#000; }
.social li a.facebook:hover { background-color:#3c5fac; }
.social li a.twitter:hover { background-color:#5ec3df; }
.social li a.flickr:hover { background-color:#FF0084; }
.social li a.rss:hover { background-color:#ff9900; }
.social li a.dribble:hover { background-color:#EA4C89; }
.social li a.lastfm:hover { background-color:#D51007; }
.social li a.linkedin:hover { background-color:#2089b5; }
.social li a.vimeo:hover { background-color:#0dadd6; }
.social li a.google:hover { background-color:#c63d2d; }
.social li a.forrst:hover { background-color:#5b9a68; }
.social li a.skype:hover { background-color:#00aff0; }
.social li a.picassa:hover { background-color:#ffd34e; }
.social li a.youtube:hover { background-color:#c8312b; }
.social li a.pinterest:hover { background-color:#cb2027; }
.social li a.instagram:hover { background-color:#3f729b; }
.social li a.tumblr:hover { background-color: #2C4762; }
.social li a.behance:hover { background-color: #3878F6; }
.social li a.blogger:hover { background-color: #fc9947; }
.social li a.delicious:hover { background-color: #3274d1; }
.social li a.digg:hover { background-color: #205891; }
.social li a.friendfeed:hover { background-color: #2f72c4; }
.social li a.github:hover { background-color: #000; }
.social li a.wordpress:hover { background-color: #0083b3; }
.social li a.pinterest:before, .social li a.instagram:before, .social li a.google:before { font-family: FontAwesome;  font-weight: normal; text-align:center; font-style: normal; pad text-decoration: inherit; font-size: 30px; }
.social li a.pinterest:before { content: "\f0d2"; }
.social li a.instagram:before { content: "\f083"; }
.social li a.google:before { content: "\f0d4"; }


/* -------------------------------------------- */
/* GRID PAGE */
.show-grid [class*="span"] { font-size:.8em; padding:1em 0; text-align:center; margin-bottom:1.2em; background:#eee; }


/* -------------------------------------------- */
/* 404 PAGE */
.not-found { padding:2em 0; text-align:center; }
.not-found h1 { margin: 0 0 .1em 0; font-size: 8em; letter-spacing: .03em; line-height:1; color:#333; text-shadow:1px 1px 0 #fff, 2px 2px 0 #ccc, 3px 3px 0 #ccc, 4px 4px 0 #ccc; }
.not-found p { font-size:.9em; font-style:italic; }


/* -------------------------------------------- */
/* SHORTCODES PAGE */
.show-buttons .button { margin:0 1em 1em 0; }

/* TABS */
.tabs { font-size:.9em; }
.tabs .tab-titles { padding:0; margin:0; }
.tabs .tab-titles li { display:inline-block; }
.tabs .tab-titles li a { display:inline-block; padding:.625em 1.4em; letter-spacing:0; border:0; cursor:pointer; border:1px solid #ccc; background-color:#f7f7f7; }
.tabs .tab-titles li a.active { border-top: 3px solid #444; background-color:#fff; border-bottom-color:#fff; } 
.tabs .tab-content { margin-top:-1px; border: 1px solid #ccc; }
.tabs .tab-content > div { padding: 1em 1.5em; display:none; background-color:#fff; }

/* TOGGLES */
.toggle { font-size:.9em; }
.toggle h4 { position:relative; font-size:1em; border-left:0; padding:.8em 1em .8em 2.4em; margin:0; cursor:pointer; border-bottom:1px solid #ddd; }
.toggle h4.active { border-bottom:0; }
.toggle h4:before { content: "\f0a9"; color:#aaa; position:absolute; top:0.35em; left:0; font-size:27px; line-height:1; }
.toggle h4:hover:before { color:#333; }
.toggle h4.active:before { content: "\f0ab"; color:#333; }
.toggle .toggle-content { display:none; padding:.5em 0 1em 0; border-bottom:1px solid #ddd; } 

/* ALERTS */
.alert { position:relative; padding:1.2em 1em 1em 4em; margin-bottom:1em; font-size:.9em; color:rgba(0,0,0,.7); text-shadow:0 1px 0 rgba(255,255,255,.9); border-top: 1px solid rgba(0,0,0,.1); border-bottom: 1px solid rgba(0,0,0,.1); background-color:#f7f7f7; }
.alert:before { content: "\f0c6"; color:#aaa; color:rgba(0,0,0,.7); position:absolute; top:0.6em; left:.9em; font-size:27px; line-height:1; }
.alert.success { background-color:#DEF1DA; }
.alert.success:before { content: "\f087"; }
.alert.info { background-color:#FAFCD9; }
.alert.info:before { content: "\f05a"; }
.alert.error { background-color:#FCD9D9; }
.alert.error:before { content: "\f06a"; }

/* CTA */
.cta, .project-action { margin:2em 0; padding:2em 0; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.cta h3, .cta p { margin:0; }
.cta .cta-button { text-align:right; }
.cta p { font-size:.9em; }

/* PROJECT ACTION */
.project-action { text-align:center; }
.project-action .button { margin-right:1em; }
.project-action .button:last-child { margin-right:0; }

/* INLINE LIGHTBOX */
.inline-lightbox { display: inline-block; }
.inline-lightbox .media-box { padding:0; }
.inline-lightbox.image .portfolio-info:before { content: "\f002"; }
.inline-lightbox.video .portfolio-info:before { content: "\f04b"; }
.inline-lightbox .portfolio-info:before { font-size: 3em; }


/* -------------------------------------------- */
/* BLOG */
.hentry { padding: 1.25em 0 2.5em 0; }
.blog-posts .entry-title, .portfolio-single .entry-title { font-size:1.9em;}
.entry-meta { padding:.6em 0 1.2em 0; color:#aaa; font-weight:400; font-size:.8em; letter-spacing:1px; text-align:center; }
.entry-meta a, .nav-single a, .comment-meta a, .comment-reply-link, .navigation a, .post-pagination a, .related-posts a, .archives a, .tabs .tab-titles li a { color:#333; border-bottom:1px dotted #ccc; }
.entry-meta a:hover, .site-content h1 a:hover, .nav-single a:hover, .comment-meta a:hover, .comment-reply-link:hover, .navigation a:hover, .post-pagination a:hover, .related-posts a:hover, .archives a:hover, .entry-content a.more-link:hover, .launch-wrap a:hover { color:#000; background-color:#f7f7f7; }
.entry-meta a:active, .nav-single a:active, .comment-meta a:active, .comment-reply-link:active, .navigation a:active, .post-pagination a:active, .related-posts a:active, .archives a:active, .entry-content a.more-link:active, .launch-wrap a:active { background-color:#eee; }
.entry-meta .edit-link { float:right; }
.entry-header, .post .entry-title { text-align:center; }
.entry-content { padding: .250em 0 1.250em 0; }
.page .entry-content { padding-top: 1em; }
.entry-meta { text-align: center; }
.entry-content a.more-link { display:block; max-width:18.75em; text-align:center; margin:2.5em auto 0 auto; padding:0.5em 0 0.4em 0; color:#444; font-weight:400; font-size:.85em; background:none; border-bottom:1px dotted #ccc; letter-spacing:2px; }
.entry-meta .comments-link:before { content: "\f0e5"; font-size:1em; margin-left: .6em; margin-right: -0.8em; display:inline-block; }
.featured-image { text-align:center; }
.site-content h1 a:active { border-bottom:1px dotted #ccc; }

/* POST FORMATS */
/* standart */
.hentry:before, .hentry.sticky:before { display:block; width:100%; text-align:center; font-size:2em; }

/* sticky */
.hentry.sticky:before { content: "\f08d"; }

/* aside */
.format-aside:before { content: "\f040"; }

/* quote */
.format-quote:before { font-family: Georgia, "Times New Roman", Times, serif; font-size:5.5em; max-height:.5em; line-height:1; content: "\201C"; }
.format-quote blockquote { font-size: 1.6em; margin:0; }
.format-quote blockquote cite { font-size: .7em; }
.format-quote blockquote:before { content: ""; }

/* link */
.format-link:before { content: "\f0a7"; }
.format-link .entry-content, .format-status .entry-content { text-align:center; }
.format-link .link-content a { font-size:1.1em; word-break:break-all;  background: #111; padding: .6em 1.2em; border-radius: 3px; color: #fff; display: inline-block; margin-top: .5em; }
.format-link header { text-align: center; }

/* status */
.format-status:before { content: "\f0c6"; }
.format-status .entry-content > p:first-child { padding: .7em; border: 1px dashed #ddd; }

/* chat */
.format-chat:before { content: "\f0e6"; }
.chat-row:after { display: table; content: ""; line-height: 0; }
.chat-author { float:left; width: 88px; font-size:.9em; text-transform:uppercase; }
.chat-text { padding-left: 100px; }
.chat-text p { margin-top: 0; }
.chat-author cite { display: inline-block; min-width:80%; margin-right: .1em; font-weight: bold; border-bottom: 1px dotted #ddd; }

/* video */
.format-video:before { content: "\f03d"; }

/* audio */
.format-audio:before { content: "\f001"; }
.mejs-audio { max-width: 480px; margin: 0 auto; }

/* image */
.format-image:before { content: "\f03e"; }
.format-image .entry-content { text-align: center; }

/* gallery */
.format-gallery:before { content: "\f083"; }
.flex-direction-nav a { text-align:center; color:#fff; }
.flex-direction-nav a:hover { background:#C30; color:#fff; }
.flex-direction-nav a:before { display:block; width:100%; text-align:center; font-size:18px; line-height:39px; }
.flex-direction-nav .flex-next:before { content: "\f061"; }
.flex-direction-nav .flex-prev:before { content: "\f060"; }
.flex-title { position:absolute; bottom:20px; left:20px; margin:0; padding: .5em 1em; color:#fff; background:#333; }

/* aside */
.format-aside .entry-content .aside-content { position:relative; padding:.8em 2em .4em 3.6em; margin-top:1em; line-height:1.9; color:#5a4f43; text-shadow:0 1px 0 white; background-color:#f2f6c1; border:1px solid #E0DACE; -webkit-box-shadow:inset 0 1px rgba(255, 255, 255, 0.5),inset 0 0 5px #d8e071;box-shadow:inset 0 1px rgba(255, 255, 255, 0.5),inset 0 0 5px #d8e071;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;background-image:-webkit-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%),-webkit-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);background-image:-moz-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%),-moz-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);background-image:-o-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%),-o-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px); background-size: 100% 100%; }
.format-aside .entry-content .aside-content:before {content:'';position:absolute;top:0;bottom:0; left:2em; width:2px;border:solid #efcfad;border-color:rgba(239, 207, 173, 0.9);border-width:0 1px;}

/* Pagination */
.navigation, .post-pagination { padding: 2em 0; }
.navigation > div { width:50%; float:left; }
.navigation a { display: inline-block; padding: .4em; }
.navigation .nav-next { text-align: right; }
.navigation .meta-nav { margin-right:.5em; }
.navigation .nav-next .meta-nav { margin-left:.5em; margin-right:0; }
/* Numbered Pagination */
.post-pagination ul { list-style:none; text-align: center; padding:0; }
.post-pagination li { display: inline-block; font-size: .9em; margin: 0 .1em; }
.post-pagination li a { display: inline-block; padding: .3em .9em; border-bottom: 1px solid #ddd;  }
.post-pagination li.current a, .post-pagination li.current a:hover { border: 0; border-bottom: 2px solid #555; }
.post-pagination li a:hover { border-bottom: 1px solid #555; background: none; } 


/* -------------------------------------------- */
/* BLOG SINGLE */
.blog-single .entry-meta { line-height:1.9; }
.nav-single, .navigation { padding:3em 0; font-size:.9em; }
.nav-single .meta-nav { margin-right: .6em; }
.nav-single .nav-next .meta-nav { margin-left: .6em; margin-right:0; }
.nav-single .nav-next { text-align:right; }
.nav-single h4 { color:#aaa; }

/* Comments */
.comments-area { padding:2em 0; } 
.commentlist { padding: .5em 0 1.5em 0; }
.comments-title span { font-size: .6em; color: #aaa; margin-left: 1em; margin-right: 1em; }
.comments-title span.on { font-style: italic; margin-right:0; }
.comments-area ol { list-style: none; padding-left:0; }
.comments-area ol li { padding-top: 1em; }
.comments-area ol ol { margin-left: 13%; }
.comments-area ol ol li { padding-top: 0; }
.comments-area ol ol ol { margin-left: 15%; }
.comments-area article { position:relative; margin-left:105px; margin-bottom:1em; padding:1em 1.6em; border: 1px solid #eee; border-left: 2px solid #555; }
.comments-area article:before { content:""; position:absolute; top:1em; right:100%; width: 0; height: 0; border-top: 12px solid #555; border-left: 16px solid transparent; }
.comment-meta img { position:absolute; top:0; left:-105px; }
.comments-area ol ol .comment-meta img { width:65px; left:-95px; }
.comments-area ol ol article { position:relative; margin-left:95px; }
.comment-meta .fn, .comment-reply-link { font-size:.9em; font-style:normal; font-weight:bold; text-transform:uppercase; }
.comment-meta .fn + a { float:right; font-size:.8em; font-style:italic; color: #aaa; border-bottom:0; }
.comment-content { font-size:.9em; color: #555; }
.comment-content p { margin: .8em 0 .2em 0; }
.comment .reply { text-align:right; }
.comment-reply-link { font-weight: normal; font-size: .8em; letter-spacing:3px; }

/* by post author */
.bypostauthor > article { border-left-color:#C30; }
.bypostauthor > article:before { border-top-color:#C30; }
.bypostauthor > article:after { position:absolute; bottom: -22px; right: .3em; font-size:18px; content: "\f097"; }

/* Comment Form */
#respond { padding: 0 0 1em 0; }
#respond h3 { font-size: 1.6em; }
.form-allowed-tags, .comment-notes { font-size:.9em; }
.form-allowed-tags code { margin-top:1em; }
.form-submit { margin-top: 2em; }

/* About The Author */
.about-author { padding: 2em 0; }
.author-bio { padding: 1em 0; border: 1px dotted #ddd; border-left:0; border-right:0; }
.author-img img { display:block; }
.author-img img:hover { opacity: .9; }
.author-info .author-name { text-transform:uppercase; }
.author-info p { font-size:.9em; margin: .4em 0; }
.author-info *:first-child { margin-top:0; }

/* Related Posts */
.related-posts { padding:2em 0; text-align:center; }
.related-posts ol { list-style:none; padding-left: 0; }
.related-posts ol li a { font-size:.9em; }

/* tags */
.blog-single footer.entry-meta { position:relative; }
.blog-single footer.entry-meta:before { position:absolute; top:-1.1em; left:50%; font-size:26px; content: "\f02b"; color:#aaa; }


/* -------------------------------------------- */
/* SEARCH RESULTS */
.page-header { text-align: center; }
.post-archive .hentry { padding-bottom: 1em; }
.post-archive .page-header { padding-bottom: 2em; }
.post-archive .page-title { font-size:1.6em; }
.post-archive .page-header span { font-size: .6em; color: #aaa; margin-left: .6em; margin-right: .6em; }
.post-archive .entry-title { font-size: 1.4em; margin-bottom:0; }


/* -------------------------------------------- */
/* ARCHIVES */
.archives { padding-top: 1em; }
.archives a { font-size:.9em; }
.archives ul { padding-left:0; }
.archives ul li { margin-bottom: .1em; }
.archives ul li::before { color:#999; }

/* Alternate Archive Design */
.archives-list.post-list { padding: 0; }
.archives-tag.post-list h2 { font-size: 1.5em; }
.archives-list h3 { font-size: 1em; }
.archives-tag.post-list { border-bottom: 1px dashed #ccc; }
.archives-tag.post-list:last-child { border-bottom: none; }
.archives-tag.post-list ul { text-align: center; }
.archives-tag.post-list li { display: inline-block; padding:0; margin-bottom: .1em; border: 0; }
.archives-tag.post-list a { display: inline-block; font-size: .9em; padding: .7em 2em; color: #fff; background: #333; }
.archives-tag.post-list a:hover { color: #fff; background: #222; }

/* -------------------------------------------- */
/* PORTFOLIO */

/* Filters */
#filters { text-align:center; list-style:none; padding:0; margin: .25em 0 1.2em 0; }
#filters li { display:inline-block; margin:0 1em; }
#filters li a { color: #bbb; font-style: italic; }
#filters li a:hover { color: #777; }
#filters .current a { color: #333; border-bottom: 1px solid #ddd; }

/* Portfolio Items */
.portfolio-items { min-height: 200px; }
.portfolio-items .hentry { float:left; width: 20%; padding: 0; }
.portfolio-items .hentry.x2 { width: 40%; }
.hentry .media-box img { display: block; }
.media-box { position: relative; padding: 0.5em; }
.media-box .mask { opacity:0; filter: alpha(opacity = 0); position: absolute; width: 100%; height: 100%; top: 0; left: 0; bottom:0; right:0; text-align: center; overflow: hidden; background: #fff; background: rgba(255,255,255, .95); }
.media-box:hover .mask { opacity:1; filter: alpha(opacity = 95); }
.media-box .mask .portfolio-info { display:none; position: absolute; top: 50%; margin-top: -2em; width: 100%; }
.media-box:hover .mask .portfolio-info { display: block; }
.portfolio-info:before { font-size: 1.2em; padding-bottom:.2em; text-align: center; content: "\f0b1"; }
.video .portfolio-info:before { content: "\f03d"; }
.audio .portfolio-info:before { content: "\f001"; }
.image .portfolio-info:before { content: "\f03e"; }
.url .portfolio-info:before { content: "\f0c1"; }
.portfolio-info h3 { max-width: 90%; padding: 0; margin: 0 auto .2em auto; font-size: 1em; }
.portfolio-info p { max-width: 90%; margin: 0 auto; font-size: .8em; color: #aaa; font-style: italic; }
.media-box .mask a { position:absolute; top: 0; left: 0; width: 100%; height: 100%; background:#fff; opacity:0; filter: alpha(opacity = 0); }

/* Ajax loadmore link */
a.loadmore { display:block; position:relative; margin: 3em auto 0 auto; max-width:25em; padding: 10px;  font-size: .9em; letter-spacing: 3px; text-align: center; text-transform: uppercase; color: #fff; background: #ddd; cursor: pointer; }
.loadmore:hover { background: #333; }
.loading, .loadmore.loading:after { background: transparent url(../images/bckg/loader_light.gif) no-repeat center center; }
.loadmore.loading:after { content: ""; position:absolute; top: 100%; left: 50%; margin: 24px 0 0 -35px; width:80px; height: 24px; z-index: -1; }
@media  (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) { 
	.loading, .loadmore.loading:after { background-size: 70px 24px; background-image: url(../images/bckg/loader_light@2x.gif); }   
}

/**** Isotope Filtering ****/
.isotope-item { z-index: 2; }
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}


/* -------------------------------------------- */
/* PORTFOLIO DETAILS */
.department { margin: -0.6em 0 1.2em 0; text-transform: uppercase; font-size: .825em; letter-spacing: 3px; color: #999; }
.portfolio-single .nav-single, .navigation { padding-top: 0; }
.portfolio-single .nav-single h4 { color: #E7E7E7; font-size: 1.5em; margin-bottom: .1em; }
.portfolio-single .entry-content img, .portfolio-single .entry-content .media-wrap { margin-bottom: 2em; }
.portfolio-text { max-width: 960px; margin: auto; padding-bottom: 2em; text-align: center; }
.portfolio-text p { margin-top: 0; color: #999; }
.portfolio-text .launch-wrap { margin-top: 2em; }
.launch-wrap a { color: #333; font-style: italic; min-width: 12em; border-bottom: 1px solid #DDD; display: inline-block; padding: .4em 1em; }
.launch-wrap a:after { content: " →"; }
.back-to-portfolio a { font-style: normal; letter-spacing: 3px; }
.back-to-portfolio a:after { content: ""; }
.back-to-portfolio a:before { content: "→ "; }

/* Lightbox */
.lightbox.hidden { display: none; }
.fancy-ico, #fancybox-close { font-size: 1em; position: relative; top: 0.1em; }
#fancybox-close:before, .fancy-ico:before { display: inline; }
#fancybox-close:before { content: "\f00d"; font-size:1em; }
.fancy-ico:before { font-size: 3em; }
.fancy-ico { width: 50px; }
#fancybox-right-ico:before { content: "\f054"; }
#fancybox-left-ico:before { content: "\f053"; }
.fancy-ico, #fancybox-close { display:inline-block; padding:15px; line-height:64%; cursor:pointer; opacity:1; color: #fff; }
.fancy-ico:hover, #fancybox-close:hover { opacity:1; }
#fancybox-close { opacity: 1; color: #000; background: #fff; }
#fancybox-close:hover { background: #ddd; }


/* -------------------------------------------- */
/* HOME ALTERNATE */
.intro { text-align: center; }
.intro h2 { margin-top: .6em; }
.intro p { color: #999; font-style: italic; font-size: 1.4em; margin: 0 0 .6em 0; }
.intro p.launch-wrap { margin-top: 3em; font-size: 1em; }
.intro p.launch-wrap a { letter-spacing: 3px; font-style: normal; font-size: .9em; }
.intro .launch-wrap:before { display:block; width: 100%; margin-bottom: .2em; color: #444; font-size: 1.2em; text-align: center; content: "\f0b1"; }

/* POST LIST */
.post-list { padding-top: 2em; }
.post-list h2 { text-align: center; font-size: 1.9em; }
.post-list ul { list-style: none; padding: .4em 0 2em 0; }
.post-list a { color: #444; }
.post-list a:hover { color: #000; }
.post-list h3 { margin-top: 0; margin-bottom: 0; float: left; }
.post-list .date { color: #aaa; font-size: .9em; float: right; }
.post-list ul li { padding: 1.2em 0 .6em 0; border-bottom: 1px dashed #ddd; }
.post-list ul li:before,
.post-list ul li:after { content: " "; display: table; }
.post-list ul li:after { clear: both; }
.label { display: inline-block; padding: 0 .4em; color: #fff; background: #333; border-radius: 2px; }

/* CONTACT PAGE - MAP */
.map { margin-bottom: 3em; }
.map iframe { width: 100%; height: 200px; margin-top: .6em; }

/* SHARE LINKS */
.share-links { display: inline-block; position: relative; margin-left: .8em; }
.share-links a { color: #888; font-size: 14px; cursor: pointer; }
.share-links:before { content: "\f045"; color: #000; font-size: 1.6em; margin-left: .2em; margin-right: -0.8em; display:inline-block; }
.share-wrap { display: none; width: 90px; text-align: left; background-color: #fff; }
.share-wrap a { border: 0; }
.share-links .share-wrap { position:absolute; top: 100%; right:-1em; z-index:310; padding: 15px; border:1px solid #ddd; box-shadow: 0px 0px 8px 0px rgba(0,0,0,.1); }
.share-links .share-wrap:after { content: " "; position: absolute; right: 3em; bottom: 100%; pointer-events: none; width: 0; height: 0; border-bottom: 8px solid #555; border-right: 10px solid transparent; }
.share-wrap > div { padding-bottom: 2px; }
.share-wrap .facebook-wrap { padding-bottom: 9px; }
.fb-like > span { width: 450px !important; }
/* pinterest iframe fix */
#page ~ iframe { display: none; }
/* IE and firefox : facebook like fix */
/*.share-wrap .fb_iframe_widget > span,
.share-wrap .fb_iframe_widget iframe { height: 20px !important; width: 78px !important; }*/

/* BLOG MASONRY */
.blog-masonry { min-height: 200px; padding-bottom: 2em; }
.blog-masonry .hentry { float:left; width: 25%; padding: 20px 26px 0 26px; margin-bottom: 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */ }
.blog-masonry .hentry .entry-content { border-bottom: 2px solid #444; }
.blog-masonry .entry-meta { display: none; }
.blog-masonry .hentry h1 { font-size: 1.1em; }
.blog-masonry .hentry p { font-size: 0.925em; }
.blog-masonry .format-quote blockquote { padding: 0; font-size: 1.2em; }
.blog-masonry .format-aside .entry-content { margin-bottom: 30px; }
.blog-masonry .flex-direction-nav { display: none; }


/* -------------------------------------------- */
/* MEDIA QUERIES */

/* high res screens */
@media (min-width: 1200px) { 
	#secondary .widget { padding-left:4em; }
}
@media (min-width: 1400px) { 
	#secondary .widget { padding-left:5em; }
	.widget_calendar table tr td, .widget_calendar table tr th { padding: .5em 1.5em .4em 0; }
}
@media (min-width: 1600px) { 
	#secondary .widget { padding-left:6em; }
}
@media screen and (min-width: 768px) {
    .blog-single .post .entry-content > p {
		font-size: 18px;
		}
}

/* tablets */
@media (min-width: 768px) and (max-width: 979px) {
	
	/* HEADER */
	.main-navigation ul li { margin:0 0.75em; }
	
	/* SIDEBAR */
	.widget input[type=text], .widget textarea { width:90%; margin-right:0; }
	#secondary .flickr-badges { margin-right:-2em; }
}
/* smartphones */
@media (max-width: 767px) { 
	
	/* NAVIGATION */
	.main-navigation div.selector { display:block; }
	.main-navigation > ul { display:none; }
	
	.site-header { padding-top: 0.250em; }
	h1, .blog-posts .entry-title { font-size: 1.3em; }

	/* HEADER */
	.site-header { padding-bottom: 1em; }
	.site-header hgroup { padding: .875em 0; }
	h1.site-title { font-size:4em; margin-bottom:.16em; }
	h1.site-title img { max-height:160px; }
	.main-navigation > ul { padding: .4em 0; }
	.main-navigation > ul > li { padding: .5em 0; }
	.main-navigation ul ul { top:2.5em; }
	.site-description { margin: 0.23em 0; }
	
	/* BLOG */
	.hentry, .entry-content { padding-bottom: .5em; }
	a.more-link { margin-top:1.25em; }
	.blog-posts .entry-meta { display:none; font-size:.7em; line-height:192%; }
	.mejs-audio { max-width: 420px; }
	
	/* BLOG SINGLE */
	.comments-title span { display:block; }
	.comment-meta .fn + a { display:block; float:none; }
	.comments-area ol ol { margin-left: 5%; }
	.comments-area ol ol ol { margin-left: 8%; }
	.comment-meta img { position:static; top: auto; left:auto; float:left; margin: 0 1em .6em 0; }
	.comment-meta .fn { display: block; padding-top: 1em; }
	.comments-area article, .comments-area ol ol article { margin-left:0; }
	.comment-content { clear:left; }
	.about-author { text-align:center; }
	.author-img img { margin: 0 auto 1em auto; }
	
	/* 404 */
	.not-found h1 { font-size: 6em; }
	
	/* SIDEBAR */
	#secondary { padding-top:3em; }
	#secondary .widget { padding-left:0; padding-bottom:1.2em; }
	.widget_calendar table tr td, .widget_calendar table tr th { padding: .5em 1.6em .4em 0; }
	
	/* SHORTCODES */
	.cta, .cta .cta-button { text-align:center; }
	.cta .cta-button { margin-top: 1em; }
	.project-action { padding-bottom:.4em; }
	.project-action .button { margin-bottom:1em; }
	blockquote { padding-left:1em; padding-right:1em; }
	blockquote:before { top: -0.3em; font-size: 90px; }
	
	/* Home Alternate */
	.intro h2 { font-size: 1.4em; }
	
	/* POST LIST */
	.post-list h3 { float: none; font-size: 1em; }
	.post-list .date { float: none; }
	
}
/* smartphones */
@media (max-width: 480px) { 

	/* LAYOUT */
	.middle { padding-bottom: 2em; }
	
	/* SHORTCODES */
	.project-action .button { margin-right: 0; }
	
	/* Portfolio */
	.portfolio-info h3 { font-size: .8em; }
	.portfolio-info p { display: none; }
	
	/* Blog Masonry */
	.blog-masonry .hentry { float:left; width: 25%; padding: 20px 0 0 0; }
	
	/* Home alternate */
	.post-list h2 { font-size: 1.4em; }
	
	/* Form Elements */
	textarea { width:100%; min-width:0; max-width: 262px; }
	
	/* BLOG */
	.mejs-audio { max-width: 280px; }
}