.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  padding: 22px;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 0 #fff, 1px 1px 0 #fff, 2px 2px 0 #ddd, 3px 3px 0 #fff, 4px 4px 0 #ddd;
  background-color: #fff; 
  background-image: -webkit-linear-gradient(#EEE .1em, transparent .1em);
  background-image: -o-linear-gradient(#EEE .1em, transparent .1em);
  background-image: linear-gradient(#EEE .1em, transparent .1em);
  background-size: 100% 1.6em;
}
.prettyprint.linenums {
	padding:22px 8px;
	background-size: 100% 1.7em;
	box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0, inset 0 1px 0 #fff, 1px 1px 0 #fff, 2px 2px 0 #ddd, 3px 3px 0 #fff, 4px 4px 0 #ddd;	
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
  padding-left:0;
}
ol.linenums li {
  padding-left: 16px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}