{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#fff"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" media="all" href="css/app.css"/>
    {# {% include "../partials/_media-tags.html" %} #}
  </head>
  <body>

    <!-- BEGIN content -->
    <div class="wrapper">
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->


    <!-- BEGIN footer -->

    {% block footer %}{% endblock %}

    <!-- END footer -->



    <!-- BEGIN scripts -->
    <script type="text/javascript" src="js/app.js"></script>

    <!-- END scripts -->
    <script type="text/javascript">(function(w,doc) {
      if (!w.__utlWdgt ) {
          w.__utlWdgt = true;
          var d = doc, s = d.createElement('script'), g = 'getElementsByTagName';
          s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
          s.src = ('https:' == w.location.protocol ? 'https' : 'http')  + '://w.uptolike.com/widgets/v1/uptolike.js';
          var h=d[g]('body')[0];
          h.appendChild(s);
      }})(window,document);
    </script>


  </body>
</html>
