[page_section]
<a href="https://rmsh.honeytruckerendorsement.com/blog/all-about-cookies/">Cookies</a> can improve your Internet experiences by <a href="https://rmsh.honeytruckerendorsement.com/blog/">storing settings and information</a> for web sites you visit. However, you may want to <strong>block cookies</strong> and learn <strong>how to disable cookies</strong> so that web sites do not place cookies on your computer, Mac or Windows. This short article explains how you can disable (and enable) cookies in various browsers. This is a simply procedure but depends on which web browser you are using. Please note that <strong>cookies are allowed</strong> by default in most browsers.

Also note that disabling cookies may prevent some web pages from functioning / displaying correctly.


<strong class="big">Table of Contents</strong>

Please select your browser from the list to get started:

<div class="example-list">
<ul>        
 	<li><a href="#c1" class='quick-link js-to'><span>iOS: Safart Cookie Disabling</a></span></li>
 	<li><a href="#c2" class='quick-link js-to'><span>iOS: Chrome Cookie Disabling</a></span></li>
 	<li><a href="#c3" class='quick-link js-to'><span>iOS: FireFox Cookie Disabling</a></span></li>
 	<li><a href="#c4" class='quick-link js-to'><span>Android: Chrome Cookie Disabling</a></span></li>
 	<li><a href="#c5" class='quick-link js-to'><span>Android: FireFox Cookie Disabling</a></span></li>
 	<li><a href="#c6" class='quick-link js-to'><span>Desktop (PC, Laptop): Safari Cookie Disabling</a></span></li>
 	<li><a href="#c7" class='quick-link js-to'><span>Desktop (PC, Laptop): Chrome Cookie Disabling</a></span></li>
 	<li><a href="#c8" class='quick-link js-to'><span>Desktop (PC, Laptop): Firefox Cookie Disabling</a></span></li>
 	<li><a href="#c9" class='quick-link js-to'><span>Desktop (PC, Laptop): Internet Explorer Cookie Disabling</a></span></li>
 	<li><a href="#c10" class='quick-link js-to'><span>Desktop (PC, Laptop): Microsoft Edge Cookie Disabling</a></span></li>
 	<li>Disabling all cookies in all devices and enhancing security: <a href="https://rmsh.honeytruckerendorsement.com/blog/best-vpn/">VPN software</a></li>
</ul>
</div>
[/page_section]

[page_section class='section -bg-gray' header="How to disable cookies in mobile Safari (iOS - iPad, iPhone or iPod touch)" id='c1']
    [info_block header="Guide 1"]
        <ol>
            <li>Tap Settings on your iPhone, iPad, iPod touch</li>
            <li>Tap Safari<img class="aligncenter size-large wp-image-169" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/safari-700x525.png" alt="Settings &gt; Safari" width="700" height="525" /></li>
            <li>Tap Block Cookies (Privacy &amp; Security section)<img class="aligncenter size-large wp-image-171" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/block-cookies-700x525.png" alt="Safari not allow cookies" width="700" height="525" /></li>
            <li>You can choose: Always Block, Allow from Current Website Only, Allow from Websites I Visit, Always Allow. <img class="aligncenter size-large wp-image-172" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/safari-cookies-1-700x525.png" alt="Safari cookies settings" width="700" height="525" />These mean:
        <ol>
            <li><em><strong>Always block</strong></em>: All cookies are disabled.</li>
            <li><em><strong>Allow from Current Website Only</strong></em>: Safari only accepts cookies from the web site you are currently browsing.</li>
            <li><em><strong>Allow from Websites I Visit</strong></em>: Safari accepts cookies from the websites you visit.</li>
            <li><em><strong>Always Allow</strong></em>: All cookies are accepted.</li>
        </ol>
        </li>
            <li>Select Always Block and exit by pressing the Home button.</li>
        </ol>
    [/info_block]
[/page_section]

[page_section class='section' header="How to disable cookies in Desktop Safari" id='c6']
    [info_block header="Guide 2"]
        <ol>
            <li>Open Safari on your Mac or PC</li>
            <li>Click Safari</li>
            <li>Select Preferences (or press Command - ,)<img class="aligncenter size-large wp-image-174" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/mac-safari-700x394.png" alt="Mac Safari Preferences" width="700" height="394" /></li>
            <li>Click Privacy</li>
            <li>You will see "Cookies and website data". Choose one from the options: Always Block, Allow from Current Website Only, Allow from Websites I Visit and Always Allow.<img class="aligncenter size-full wp-image-175" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/mac-safari-cookies.png" alt="disable Mac Safari cookies" width="684" height="408" /></li>
            <li>Select Always Block.</li>
        </ol>
    [/info_block]
[/page_section]

[page_section class='section -bg-gray' header="How to disable cookies in Desktop Chrome" id='c7']
    [info_block header="Guide 3"]
    <strong>The short version</strong>:
    <ol>
        <li>On your computer, open Chrome.</li>
        <li>At the top right, click More <img title="More" src="https://storage.googleapis.com/support-kms-prod/ArAlBcUAe8h1l5m69uxnwElxkqwW0QdtIc3F" alt="More" width="18" height="18" /><img title="and then" src="https://lh3.googleusercontent.com/nHFGZ_9xjCh-mP83zMzXQVJF5VYf2n6kwoBIxB2zv3V4VPT4gNTtBye8lYznogLqLPY=w13-h18" alt="and then" width="13" height="18" /> <strong>Settings</strong>.</li>
        <li>At the bottom, click <strong>Advanced</strong>.</li>
        <li>Under "Privacy and security," click <strong>Content settings</strong>.</li>
        <li>Click <strong>Cookies</strong>.</li>
        <li>From here, you can:
    <ul>
        <li>Turn on cookies: Next to "Blocked," turn on the switch.</li>
        <li>Turn off cookies: Turn off <strong>Allow sites to save and read cookie data</strong>.</li>
    </ul>
    </li>
    </ol>
    <strong>Picture Tutorial</strong>:
    <ol>
        <li>Open Chrome on your computer, PC or Mac</li>
        <li>Click More<img class="aligncenter wp-image-284 size-large" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/1-700x365.jpg" alt="1 how to disable cookies on chrome" width="700" height="365" /></li>
        <li>Click "Settings"<img class="aligncenter wp-image-285 size-large" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/2-700x365.jpg" alt="2 - how to disable cookies on chrome" width="700" height="365" /></li>
        <li>Select "Advanced"<img class="aligncenter wp-image-286 size-large" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/3-700x365.jpg" alt="3 - how to disable cookies on chrome" width="700" height="365" /></li>
        <li>Click "Content Settings"<img class="aligncenter wp-image-287 size-large" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/4-700x365.jpg" alt="4 - how to disable cookies on chrome" width="700" height="365" /></li>
        <li>Click "Cookies" <img class="aligncenter wp-image-288 size-large" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/5-700x365.jpg" alt="5 - how to disable cookies on chrome" width="700" height="365" /></li>
        <li>Turn off "Allow sites to save and read cookie data".</li>
    </ol>
    <img class="aligncenter size-large wp-image-289" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/6-700x365.jpg" alt="6 - how to disable cookies on chrome" width="700" height="365" />
    [/info_block]
[/page_section]


[page_section class='section' header="How to disable cookies in Chrome on iOS (iPhone or iPad)" id='c2']
    [info_block header="Guide 4"]
Important to remember: If you remove cookies, you will be signed out of websites and your saved preferences could be deleted.
<ol>
 	<li>On your iPhone or iPad, open the Chrome app <img title="Chrome" src="https://storage.googleapis.com/support-kms-prod/hoyrHHY874OtJFVNTfoeYGZiKzTzaOrGqeop" alt="Chrome" width="18" height="18" />.</li>
 	<li>At the top right, tap More <img title="More" src="https://storage.googleapis.com/support-kms-prod/ArAlBcUAe8h1l5m69uxnwElxkqwW0QdtIc3F" alt="More" width="18" height="18" /> <img title="and then" src="https://lh3.googleusercontent.com/nHFGZ_9xjCh-mP83zMzXQVJF5VYf2n6kwoBIxB2zv3V4VPT4gNTtBye8lYznogLqLPY=w13-h18" alt="and then" width="13" height="18" /> <strong>Settings</strong>.</li>
 	<li>Tap <strong>Privacy <img title="and then" src="https://lh3.googleusercontent.com/nHFGZ_9xjCh-mP83zMzXQVJF5VYf2n6kwoBIxB2zv3V4VPT4gNTtBye8lYznogLqLPY=w13-h18" alt="and then" width="13" height="18" /> Clear browsing data</strong>.</li>
 	<li>Check "Cookies, Site Data." Uncheck all the other items.</li>
 	<li>Tap <strong>Clear Browsing Data</strong>.</li>
 	<li>Confirm by tapping <strong>Clear Browsing Data</strong>.</li>
 	<li>Tap <strong>Done</strong>.</li>
</ol>
[/info_block]
[/page_section]

[page_section class='section -bg-gray' header="How to disable cookies in Chrome on Android" id='c4']
    [info_block header="Guide 5"]

1. Launch the Chrome app.

2. Tap More.

<img class="aligncenter wp-image-291" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/1-1-700x1244.jpg" alt="1 - block cookies in Chrome on Android" width="192" height="341" />

3. Tap "Settings".

<img class="aligncenter wp-image-292" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/2-1-700x1244.jpg" alt="2 - block cookies in Chrome on Android" width="245" height="435" />

4. Tap "Site Settings".

<img class="aligncenter wp-image-293" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/3-1-700x1244.jpg" alt="3 - block cookies in Chrome on Android" width="226" height="402" />

5. Tap "Cookies".

<img class="aligncenter wp-image-294" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/4-1-700x1244.jpg" alt="4 - block cookies in Chrome on Android" width="222" height="394" />

6. Turn off "Cookies" and deselect "Allow third-party cookies".

<img class="aligncenter wp-image-295" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/5-1-700x1244.jpg" alt="5 - block cookies in Chrome on Android" width="205" height="364" />

7. Now you are done and it should look like bellow.

<img class="aligncenter wp-image-296" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/6-1-300x278.jpg" alt="6 - block cookies in Chrome on Android" width="208" height="193" />
[/info_block]
[/page_section]

[page_section class='section' header="How to disable cookies in Desktop FireFox" id='c8']
    [info_block header="Guide 6"]

1. Click Menu

<img class="aligncenter size-large wp-image-307" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/1-block-cookies-in-Desktop-FireFox-700x365.jpg" alt="1 - block cookies in Desktop FireFox" width="700" height="365" />

2. Click "Options".

<img class="aligncenter size-large wp-image-308" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/2-block-cookies-in-Desktop-FireFox-700x365.jpg" alt="2 - block cookies in Desktop FireFox" width="700" height="365" />

3. Select "Privacy &amp; Security".

<img class="aligncenter size-large wp-image-309" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/3-block-cookies-in-Desktop-FireFox-700x346.jpg" alt="3 - block cookies in Desktop FireFox" width="700" height="346" />

4. Go to "History" and select the "Use Custom Settings for history".

<img class="aligncenter size-large wp-image-310" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/4-block-cookies-in-Desktop-FireFox-700x346.jpg" alt="4 - block cookies in Desktop FireFox" width="700" height="346" />

5. Deselect the "Accept cookies from websites" option.

<img class="aligncenter size-large wp-image-311" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/5-block-cookies-in-Desktop-FireFox-700x346.jpg" alt="5 - block cookies in Desktop FireFox" width="700" height="346" />
[/info_block]
[/page_section]


[page_section class='section -bg-gray' header="How to disable cookies on FireFox for Android" id='c5']
    [info_block header="Guide 7"]

1. Open the FireFox app
2. Tap Menu

<img class="aligncenter wp-image-298" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/1-2-700x1244.jpg" alt="1 - block cookies on FireFox for Android" width="300" height="533" />

3. Tap "Settings".

<img class="aligncenter wp-image-302" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/2-3-700x1244.jpg" alt="2 block cookies on FireFox for Android" width="300" height="533" />

4. Tap "Privacy".

<img class="aligncenter wp-image-304" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/3-3-700x1244.jpg" alt="3 - block cookies on FireFox for Android" width="233" height="414" />

5. Tap "Cookies".

<img class="aligncenter wp-image-305" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/4-3-700x1244.jpg" alt="4 - block cookies on FireFox for Android" width="193" height="343" />

6. Tap "Disabled". <img class="aligncenter wp-image-306" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/5-2-700x1244.jpg" alt="" width="250" height="444" />
[/info_block]
[/page_section]

[page_section class='section' header="How to disable cookies on FireFox for iOS" id='c3']
    [info_block header="Guide 8"]

<ol>
 	<li style="list-style-type: none;">
<ol>
 	<li style="list-style-type: none;">
<ol>
 	<li>Open the FireFox app</li>
 	<li>Tap Menu<img class="aligncenter wp-image-206" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/firefox-menu-700x1245.png" alt="firefox for iOS menu " width="334" height="594" /></li>
 	<li>Tap Settings</li>
 	<li>Tap Clear Private Data<img class="aligncenter wp-image-207" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/firefox-privacy-1-700x1214.png" alt="firefox privacy settings" width="263" height="456" /></li>
 	<li>And turn off Cookies to disable them.<img class="aligncenter wp-image-208" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/disable-cookies-1-700x1216.png" alt="firefox diable cookies" width="397" height="690" /></li>
</ol>
</li>
</ol>
</li>
</ol>
[/info_block]
[/page_section]

[page_section class='section -bg-gray' header="How to disable cookies on Internet Explorer" id='c9']
    [info_block header="Guide 9"]

<ol>
 	<li style="list-style-type: none;">
<ol>
 	<li>Launch Internet Explorer</li>
 	<li>Click Tools</li>
 	<li>Click Internet Options<img class="aligncenter wp-image-211" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/internet-options-700x394.png" alt="explorer internet options" width="490" height="276" /></li>
 	<li>Select Privacy. Select Advanced in you are using Explorer 11. <img class="aligncenter wp-image-212" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2016/10/clear-internet-options-700x394.png" alt="Internet options privacy " width="496" height="279" /></li>
 	<li>Then choose to block cookies.</li>
</ol>
</li>
</ol>
[/info_block]
[/page_section]

[page_section class='section' header="How to disable cookies on Microsoft Edge" id='c10']
    [info_block header="Guide 10"]

1. Open Microsoft Edge.

2. Click on the Menu icon (3 dots) and click on "Settings".

<img class="aligncenter wp-image-333" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2018/01/1-disable-cookies-on-Microsoft-Edge-700x365.jpg" alt="1 - disable cookies on Microsoft Edge" width="479" height="250" />

3. Scroll down a bit and click "View advanced settings".

<img class="aligncenter wp-image-334" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2018/01/2-disable-cookies-on-Microsoft-Edge-700x365.jpg" alt="2 - disable cookies on Microsoft Edge" width="535" height="279" />

4. Search for the "Cookies" section and there you can select to "Block all cookies".

<img class="aligncenter wp-image-335" src="https://rmsh.honeytruckerendorsement.com/blog/wp-content/uploads/2018/01/3-disable-cookies-on-Microsoft-Edge-700x365.jpg" alt="3 - disable cookies on Microsoft Edge" width="518" height="270" />
[/info_block]
[/page_section]


[page_section class='section -bg-gray' header="Should I Disable Cookies at All Times?" id='c9']
<p class='big'>
Although it is important you would know how to disable your cookies properly and efficiently, you should not be disabling your cookies at all times. The reason is that some vital services like your bank or your credit company cannot operate without having cookies. The right way to do this is to turn them off when you know you aren't visiting any particularly important website, and turn them on when you need to.
</p>
<p class="subtitle left mt-subtitle">
<strong>Interested in disabling cookies in additional browsers or devices not listed here?</strong>
</p>
Please add your feedback on the comment section. Don't forget to share, like and link to our page. This information is given freely, and we have spent a significant amount of time providing it.
[/page_section]