.page-footer
	background-color: $color-text
	color: #ffffff
	padding: 50px 0
	a
		display: block
		color: currentColor
		text-decoration: underline
		+tr(opacity .25s)
		+css-lock(16,18,980,1280)
		line-height: 1.35
		margin-bottom: 12px
		&:hover
			opacity: .75
	.menu
		.menu-item
			color: #ffffff
			+rmin(1024)
				&::after
					content: none !important
			& > a
				+tr(opacity .25s)
				+css-lock(16,18,980,1280)
				line-height: 1.35
				margin-bottom: 12px
				display: block
				color: currentColor
				text-decoration: underline
				&:hover
					opacity: .75
	.-last
		+rmin(768)
			padding-top: 43px
.footer-bordered
	position: relative
	padding-left: 20px
	+r(767)
		margin-top: 30px
	&::after
		content: ''
		position: absolute
		top: 5px
		bottom: 5px
		left: -5px
		width: 1px
		background-color: rgba(#ffffff, .4)
.footer__title
	+f_bold
	+css-lock(20,24,980,1280)
	margin-bottom: 12px
.footer__list
	a
		+f_light

