/*page header not main*/
.page-header
	display: block
	background-color: $color-main-8
	.mob-calls__menu
		+r(1023)
			top: 0
	.mob-blog-header-nav
		+rmin(1024)
			display: block
			width: 100%
			flex: 1 1 calc(100% - 140px)
			max-width: calc(100% - 140px)
	&-inner
		position: relative
		display: flex
		flex-flow: row wrap
		align-items: center
		min-height: 60px
		overflow: hidden
		+r(1023)
			min-height: 48px
.menu
	+rmin(1024)
		display: block
		.nav
			display: flex
			flex-flow: row nowrap
			align-items: center
			justify-content: space-between
		li
			position: relative
			flex: 1 1 auto
			max-width: 100%
			+tr(color .24s)

			&::after
				content: ''
				display: block
				+center(v)
				width: 1px
				height: 15px
				background-color: currentColor
				right: 7px

			&.menu-item
				border: none
				color: rgba(#ffffff, .6)
			&:hover
				&.menu-item
					color: #ffffff

			& > a
				+css-lock(14,20,1024,1280)
				color: currentColor
				text-decoration: none
				+vm
			&.current-menu-item > a
				text-decoration: none
				opacity: 1
				color: #ffffff

	.menu-item:last-child
		+r(1023)
			&::after
				content: none



.search
	max-width: 120px
	flex: 1 1 120px
	width: 120px
	position: relative
	z-index: 2
	+r(1023)
		max-width: calc(100% - 40px)
		flex: 1 1 calc(100% - 40px)
		width: calc(100% - 40px)
		display: block
		margin-left: auto


/*main page header*/
.header-main
	background-color: $color-main-8
	padding: 20px
	+r(767)
		padding: 15px 0
	h1
		border-radius: 36px
		background-color: #ffffff
		display: flex
		flex-flow: row wrap
		align-items: center
	.header-main-text
		width: 100%
		line-height: 60px
		flex: 1 1 calc(100% - 195px)
		max-width: calc(100% - 195px)
		+f_bold
		+css-lock(18,36,768,1280)
		padding: 0 50px
		white-space: nowrap
		+r(767)
			flex: 1 1 80%
			max-width: 80%
			padding: 0px 15px
	.btn-search
		position: absolute
		flex: 1 1 20%
		max-width: 20%
		height: calc(100% - 4px)
		right: 2px
		top: 2px
		background-color: $color-main
		+r(767)
			min-width: 60px
		.icon
			+css-lock(18,35,768,1280,width)
			+center(both)
.header-main-search-desc
	position: relative
	line-height: 1
	+css-lock(45,60,768,1280,height)
	+r(800)
		max-width: calc(100vw - 90px)
		margin-left: auto
/*main menu*/
[mob-menu-wrapper]
	+r(1023)
		position: fixed
		width: 100%
		max-width: 320px
		height: 100vh
		max-height: 100vh
		padding-top: 20px
		padding-right: 58px
		padding-left: 15px
		background-color: #015cc4
		top: 0
		left: 0
		z-index: 100
		transform: translateX(-100%)
		transition: transform .25s ease-in-out
		will-change: transform
		&.is-open
			transform: translateX(0%)
			.mob-calls__menu
				transform: translateX(0px)
				background-color: #013878
				i
					transform: rotate(180deg)
					&::after,
					&::before
						width: 50%
					&::before
						top: 0
						transform: translateX(11px) translateY(1px) rotate(45deg)
					&::after
						bottom: 0
						transform: translateX(11px) translateY(-1px) rotate(-45deg)
		.scroller
			overflow-y: auto
		.logo
			padding-top: 0
			padding-left: 30px
			margin-bottom: 20px
		.phone_nav
			width: 100%
			display: flex
			flex-flow: row wrap
		.header__nav
			border-top: 1px solid rgba(255,255,255,.3)
			padding:  0 0 15px
			max-height: calc(100vh - 180px)
			overflow-y: auto
		.header__phone
			border-top: 1px solid rgba(255,255,255,.3)
			display: block
			width: 100%
			order: 10
			a
				color: white
				display: block
				margin: 10px auto
				.icon
					color: white
		.menu-item
			display: block
			width: 100%
			.dropdown-menu
				position: static !important
				margin: 0
				transform: none !important
				width: 100% !important
				box-shadow: none
				padding: 0
				&::after,
				&::before
					content: none
			.dropdown-custom-inner
				column-count: 1
				background-color: transparent
				&::after
					content: none
			&:hover
				a
					background-color: transparent
					text-decoration: underline
			.dropdown-item
				padding-left: 10px
				color: #ffffff
		.menu-item
			line-height: 1.5
			margin-bottom: 5px
			& > a
				color: white
			&.current-menu-item
				& > a
					border-bottom: 1px solid currentColor

	+r(767)
		padding-top: 15px

.main-menu-wrapper
	+rmin(1024)
		border-bottom: 1px solid #f5f4f4

.mob-calls__menu
	display: none
	+r(1023)
		display: block
		position: absolute
		width: 48px
		height: 48px
		background-color: #00569c
		will-change: transform,background-color
		top:	2.3vw
		right: 0
		transition: transform .25s ease-in-out
		transform: translateX(48px)
	i
		display: block
		position: absolute
		height: 2px
		background: #fff
		top: 23px
		left: 15px
		right: 15px
		transition: transform .3s
		&::before,
		&::after
			content: ""
			display: block
			position: absolute
			width: 100%
			height: 2px
			background-color: #fff
			left: 0
		&::before
			top: -7px
			transform-origin: top right
			transition: transform .3s,width .3s,top .3s
		&::after
			bottom: -7px
			transform-origin: bottom right
			transition: transform .3s,width .3s,bottom .3s
	+r(767)
		top: 14px


.header__nav
	display: block
	+rmin(1024)
		display: flex
		flex-flow: row wrap
		padding: 19px 0
		line-height: 1
	&-description
		+vm
		+f_light
		+css-lock(17,20,1024,1280)
		line-height: inherit
		padding-top: 1px
		+r(1023)
			display: block
			height: 48px
			line-height: 48px
			color: rgba(255,255,255,.75)
			text-align: left
			border-bottom: 1px solid rgba(255,255,255,.3)
			margin-bottom: 20px

.header__nav-description
	+vm
	+r(767)
.nav
	display: flex
	flex-flow: row wrap
	align-items: center
	+rmin(1024)
		margin-left: 15px
	.menu-item
		+rmin(1024)
			+vm
			padding: 0 15px
	.menu-item
		+rmin(1024)
			& > a
			+css-lock(17,20,1024,1280)
			+f_reg
			+tr(opacity .23s)
			line-height: inherit
			display: inline
			border-bottom: 1px solid transparent
			&:hover
				opacity: .75
				text-decoration: none
			&.current-menu-item > a
				color: #ffffff
				border-bottom: 1px solid currentColor




