//social
.social-panel
	.share-btn
		text-decoration: none
		width: 48px
		height: 48px
		display: inline-block
		+tr(opacity .25s)
		margin-right: 3px
		&:hover
			opacity: .75
	.visually-hidden
		display: none
	.icon
		width: 100%
		height: 100%
		display: block
		position: relative
		svg,
		img
			max-width: 100%
			+center(both)
			max-width: 30px
		svg
			fill: #ffffff
		&.icon-tw
			background-color: #2ba9e1
		&.icon-fb
			background-color: #3b5998
		&.icon-g
			background-color: #dd4b39
		&.icon-pin
			background-color: #cb2027
		&.icon-inst
			background-image: linear-gradient(to left, #f9ed32 0, #ee2a7b 100%)
		&.icon-mail
			background-color: #939598
		&.icon-other
			background-color: #45a147
	.share-close
		display: none



.social-absolute
	position: fixed
	top: 20vh
	left: 0
	+tr(transform .3s ease-in-out)
	transform: translateX(0)
	z-index: 99
	+rIn(768,1025)
		#__utl-buttons-1.utl-mobile .uptl_container-share .uptl_toolbar li .sn-icon
			height: 40px !important
			line-height: 40px !important
			font-size: 40px !important
		#__utl-buttons-1.utl-mobile .uptl_container-share .uptl_toolbar ul
			height: 40px !important
	.uptl_container
	  +rmin(1025)
	    position: static !important
			margin-top: 0 !important
	+r(1024)
		transform: translate(0)
		width: 100%
		bottom: 0
		top: auto
	.share-btn
		display: block
	.share-close
		+rmin(1025)
			display: block
			position: relative
		div
			overflow: hidden
			text-indent: -9999px
			position: absolute
			width: 50px
			height: 20px
			+tr(transform .25s)
			transform: translateX(0)
			&:hover
				cursor: pointer
			&::after
				content: ''
				display: block
				position: absolute
				top: 10px
				right: 10px
				+arr(10,10, #000, l)
	&.is-closed
		transform: translateX(-50px)
		.share-close
			div
				transform: translateX(30px)
				&::after
					+arr(10,10, #000, r)

.share-bottom
	+r(767)
		.action
			margin-bottom: 10px
			font-size: 17px
			&::after
				width: 10px
				height: 10px
				transform: rotate(-45deg)
	.action,
	.social-panel
		+vm
	.action
		+css-lock(20,24,980,1280)
		color: red
		text-transform: uppercase
		&::after
			content: ''
			+vm
			width: 20px
			height: 20px
			border-left: 1px solid red
			border-bottom: 1px solid red
			margin: 0 24px 8px 8px
			transform: rotate(-135deg)
	.icon
		border-radius: 6px
		&.icon-tw
			&::after
				content: '2'
				position: absolute
				font-size: 11px
				top: -.6em
				right: -.6em
				color: white
				background-color: red
				border-radius: 50%
				width: 2em
				height: 2em
				text-align: center
				line-height: 1.73em
				border: 2px solid white
				box-shadow: 0px 0px 2px 0px rgba(#000000, .4)
				z-index: 2

.icon-share
	width: 18px
	height: 18px
	display: inline-block
	margin-right: 8px
	background-image: url('../img/icon__share-arrow.png')
	margin: 0 5px -5px 0


//search
.search
	position: relative
	+rmin(1024)
		&.focus-within
			.search__input
				width: 400px
				border-bottom-color: #ffffff
				transform: translateX(-280px)
			&::after
				opacity: 1
				transform: translateX(-280px)
		&:focus-within
			.search__input
				width: 400px
				border-bottom-color: #ffffff
				transform: translateX(-280px)
			&::after
				opacity: 1
				transform: translateX(-280px)
	&__input
		width: 100%
		background-color: $color-main-8
		+css-lock(16,20,980,1280)
		+placeholder-color(rgba(#ffffff, .6))
		transition: color .25s, width .3s ease-in-out, border-bottom-color .25s, transform .3s ease-in-out
		border-bottom: 1px solid transparent
		color: #ffffff
		position: relative
		will-change: width, color, border-bottom-color, transform
		right: 0
		transform: translateX(0)
		z-index: 2
	&::after
		content: ''
		position: absolute
		display: block
		top: -5px
		left: -20px
		width: 100%
		height: calc(100% + 10px)
		background-color: $color-main-8
		opacity: 0
		transition: opacity .25s, transform .25s
		transform: translateX(0)
		z-index: -1
	&__btn
		position: absolute
		right: 12px
		display: block
		width: 33px
		height: 30px
		z-index: 3
		border: none
		background-color: transparent
		color: #ffffff
		+center(v)
		+tr(opacity .25s)
		&:hover
			opacity: .75
		.icon
			padding-bottom: 5px
			+center(both)



/*title*/
.title
	display: block
	text-align: center
	+css-lock(22,30,768,1280)
	+f_semi
	color: $color-text
	position: relative
	margin: 0
	+css-lock(40,55,768,1280,margin-bottom)
	&::after
		content: ''
		position: absolute
		top: calc(100% + 13px)
		left: calc(50% - 40px)
		width: 80px
		height: 3px
		background-color: $color-main-8
.subtitle
	display: block
	text-align: center
	+css-lock(20,24,768,1280)
	+f_bold
	+css-lock(25,30,768,1280,margin-bottom)
	color: $color-text
	&.mt-subtitle
		+css-lock(25,30,768,1280,margin-top)
	&.left
		text-align: left

.category-title
	display: block
	text-align: center
	+css-lock(22,30,768,1280)
	+f_semi
	color: $color-text
	margin: 0 auto
	+css-lock(40,70,768,1280,padding-top)
	+css-lock(15,20,768,1280,padding-bottom)
	.icon
		display: inline-block
		margin-left: 40px
		margin-right: 17px
	span
		+f_reg
		+css-lock(17,20,768,1280)
		color: rgba(#282828, .5)
		+vm

/*box*/
.box
	width: 100%
	display: block
	margin-bottom: 30px
	border-radius: 18px
	padding: 30px
	padding-top: 45px
	background-color: #ffffff
	+r(767)
		padding: 15px
	&.shadow-box
		// box-shadow: 0 0 60px -5px rgba(#000000, .2)
		box-shadow: 11.89px 10.706px 76px 0px rgba( 0, 0, 0 ,.13)
	img
		display: block
		margin: auto
		border-radius: 18px
	&.box-inline
		display: inline-flex
		width: auto
		margin-left: auto
		margin-right: auto
		+r(767)
			display: inline-block

//lists
.example-list
	margin-bottom: 32px
	&__title
		+f_black
		color: $color-main-8
		margin-bottom: 13px
		+fs(24)
		+r(767)
			text-align: center
	ul
		list-style: none
		padding: 0
		margin: 0
		position: relative
		+rmin(768)
			column-count: 2
			column-gap: 20px
			&::after
				content: ''
				position: absolute
				top: 5px
				bottom: 5px
				left: calc(50% - 10px)
				width: 1px
				background-color: rgba($color-main-8, .4)
		li
			display: block
			+css-lock(17,20,980,1280)
	.quick-link
		color: $color-main-8
		+vm
		margin-bottom: 15px
		max-width: 90%
		position: relative
		padding-left: 30px
		&:hover
			text-decoration: none
			span
				color: #01437d
				border-bottom-color: #01437d
		span
			display: inline
			color: currentColor
			border-bottom: 1px solid transparent
		&::before
			content: '\2014'
			+vm
			color: $color-text
			margin-left: -22px
	.example-pseudo-list-link
		+css-lock(20,24,980,1280)
		+f_bold
		color: $color-main-8
		&::before
			content: '\2014'
			+vm
			color: $color-text
			padding-bottom: 7px
.none-style-list
	+css-lock(25,35,980,1280,margin-bottom)


/*blockquote*/
.blockquote
	+css-lock(22,30,768,1280)
	+f_light
	display: block
	text-align: center
	margin-bottom: 30px

/*icons*/
.icon

.icon-cup
	max-width: 21px
	color: green
	+vm
	padding-bottom: 7px
.icon-arrow-prev,
.icon-arrow-next
	width: 18px
	height: 18px
	display: block
	background-size: contain
	background-repeat: no-repeat
.icon-arrow-prev
	background-image: url('../img/icon__left-arrow.svg')
.icon-arrow-next
	background-image: url('../img/icon__right-arrow.svg')

.icon-comments
	+vm
	width: 20px
	height: 20px
	background-size: contain
	background-repeat: no-repeat
	background-image: url('../img/icon__comments.svg')
	opacity: .5

.icon-button-arrow
	width: 11px
	height: 10px
	svg
		display: block

.icon__mob
	+vm
	width: 25px
	height: 27px
	background-size: contain
	background-repeat: no-repeat
	background-image: url('../img/icon__mobile.svg')
.icon__desctop
	+vm
	width: 35px
	height: 30px
	background-size: contain
	background-repeat: no-repeat
	background-image: url('../img/icon__desctop.svg')


/*dividers*/
.divider-dotten
	display: block
	width: 100%
	+clr
	+css-lock(25,35,980,1280,margin-top)
	+css-lock(25,35,980,1280,margin-bottom)
	border-bottom: 1px dotted #d6e3fa


/*tables*/
.table-area
	position: relative
	z-index: 0
	margin-top: 50px
	// box-shadow: 0 0 60px -5px rgba(#000000, .2)
	box-shadow: 11.89px 10.706px 76px 0px rgba( 0, 0, 0 ,.13)
	border-radius: 18px
	margin-bottom: 30px
	+r(767)
		max-width: 100%
		overflow-y: auto
		border-top-right-radius: 0
table
	&.responsive-table
		display: table
		table-layout: fixed
		width: 100%
		height: 100%
		+r(767)
			min-width: 800px
			& > *:first-child
				width: 100%
				min-width: 800px
		th,
		td
			padding: 10px 15px
			vertical-align: top
	& > *:first-child
		position: sticky
		top: 0px
		left: 0
		right: 0
		width: 1110px
		height: 50px
		line-height: 3em
		background: #eee
		table-layout: fixed
		display: table
		background-color: transparent
		+r(980)
			.quick-link
				display: block
		th
			background-color: $color-main-8
			color: $color-main
			border-top: 0
			line-height: 1.4
			border-left: 1px solid #ffffff
			padding: 20px 10px
			a
				color: #ffffff
				text-decoration: underline
				+f_bold
				line-height: 1.4
				&:hover
					text-decoration: none
			&:first-child
				border-top-left-radius: 18px
				border-left: 0
				border-right: 2px solid #ffffff
				color: #ffffff
			&:last-child
				border-top-right-radius: 18px
	tbody
		background-color: transparent
		tr
			background-color: transparent
			th:first-child
				border-right: 2px solid #aeaeae
			td
				border-left: 1px solid #aeaeae
			&:first-child
				td,
				th
					border-top: 0
			&:not(:first-child)
				td,
				th
					border-top: 1px dashed #aeaeae
			&:nth-child(even)
				td,
				th
					background-color: #f4f8fc
			&:last-child
				th:first-child
					border-bottom-left-radius: 18px
				td:last-child
					border-bottom-right-radius: 18px
	+r(767)
		&.responsive-table
			& > *:first-child  th:first-child,
			tbody tr th:first-child
				position: sticky
				left: 0
			& > *:first-child th:first-child
				background-color: #00569c
			tbody tr th:first-child
				background-color: #ffffff

/*ouble-arrow-list*/
.double-arrow-list
	margin-bottom: 30px
	.bordered
		position: relative
		+rmin(980)
		&::after
			content: ''
			position: absolute
			right: 5px
			top: 5px
			bottom: 25px
			width: 1px
			border-right: 1px solid rgba($color-main, .7)
	p
		&::before
			content: '\bb'
			+vm
			font-size: 30px
			line-height: 30px
			margin-top: -7px



.vpns-prevs
	+r(767)
		& > .col
			margin-bottom: 10px
	& + .vpns-prevs
		+rmin(768)
			margin-top: 35px
.vpn-prev
	display: flex
	width: 100%
	height: 55px
	background-color: #ffffff
	border-radius: 4px
	box-shadow: 5px 5px 30px -2px rgba(#000000, .3)
	flex-flow: row wrap
	align-items: center
	color: $color-main-8
	&__img
		flex: 1 1 70px
		max-width: 70px
		height: 100%
		border: 1px solid $color-main-8
		border-radius: 4px
		display: flex
		flex-flow: row wrap
		align-items: center
		img:not(.full),
		svg
			max-width: 80%
			display: block
			margin: auto
		.full
			width: 100%
			height: 100%
			object-fit: cover
	&__text
		flex: 1 1 calc(100% - 70px)
		max-width: calc(100% - 70px)
		padding-left: 20px
		color: currentColor
		text-decoration: underline
	&:hover
		color: $color-main
		text-decoration: none
		.vpn-prev__text
			text-decoration: inherit

.dropdown-share
	&.show
		.icon-share
			background-image: url('../img/icon__share-arrow-hovered.png')




/*remove after share dropdown ready*/
.dropdown-share-menu
	margin-top: 10px
	margin-left: -20px
	li
		padding: 5px
	a
		width: 100%
		height: 30px
		margin-bottom: 5px
		border: none !important
		text-decoration: none
		padding: 0
		border-radius: 4px

.big
	font-size: 140%
.center
	text-align: center


.about-feautered
	min-height: 96px
	align-items: center
	justify-content: center
	.col
		padding-top: 15px
		padding-bottom: 15px
		max-width: 100%
		img
			border-radius: 0
	.box &
		padding-bottom: 12px
